<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero1007_007.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,28},{17,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,18}}</string>
    <key>sourceSize</key>
    <string>{17,18}</string>
   </dict>
   <key>hero1007_055.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,445},{89,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{89,17}}</string>
    <key>sourceSize</key>
    <string>{89,17}</string>
   </dict>
   <key>hero1007_054.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,0},{6,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{6,74}}</string>
    <key>sourceSize</key>
    <string>{6,74}</string>
   </dict>
   <key>hero1007_056.png</key>
   <dict>
    <key>frame</key>
    <string>{{669,376},{116,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{116,17}}</string>
    <key>sourceSize</key>
    <string>{116,17}</string>
   </dict>
   <key>hero1007_053.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,132},{352,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{352,33}}</string>
    <key>sourceSize</key>
    <string>{352,33}</string>
   </dict>
   <key>hero1007_052.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,94},{351,36}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{351,36}}</string>
    <key>sourceSize</key>
    <string>{351,36}</string>
   </dict>
   <key>hero1007_051.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,49},{353,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{353,43}}</string>
    <key>sourceSize</key>
    <string>{353,43}</string>
   </dict>
   <key>hero1007_050.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,46},{353,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{353,44}}</string>
    <key>sourceSize</key>
    <string>{353,44}</string>
   </dict>
   <key>hero1007_048.png</key>
   <dict>
    <key>frame</key>
    <string>{{360,0},{354,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{354,44}}</string>
    <key>sourceSize</key>
    <string>{354,44}</string>
   </dict>
   <key>hero1007_047.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{358,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{358,47}}</string>
    <key>sourceSize</key>
    <string>{358,47}</string>
   </dict>
   <key>hero1007_049.png</key>
   <dict>
    <key>frame</key>
    <string>{{355,92},{351,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{351,41}}</string>
    <key>sourceSize</key>
    <string>{351,41}</string>
   </dict>
   <key>hero1007_036.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,167},{231,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{231,72}}</string>
    <key>sourceSize</key>
    <string>{231,72}</string>
   </dict>
   <key>hero1007_035.png</key>
   <dict>
    <key>frame</key>
    <string>{{337,209},{231,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{231,72}}</string>
    <key>sourceSize</key>
    <string>{231,72}</string>
   </dict>
   <key>hero1007_034.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,241},{231,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{231,72}}</string>
    <key>sourceSize</key>
    <string>{231,72}</string>
   </dict>
   <key>hero1007_033.png</key>
   <dict>
    <key>frame</key>
    <string>{{354,135},{231,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{231,72}}</string>
    <key>sourceSize</key>
    <string>{231,72}</string>
   </dict>
   <key>hero1007_032.png</key>
   <dict>
    <key>frame</key>
    <string>{{607,395},{191,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{191,60}}</string>
    <key>sourceSize</key>
    <string>{191,60}</string>
   </dict>
   <key>hero1007_031.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,413},{191,60}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{191,60}}</string>
    <key>sourceSize</key>
    <string>{191,60}</string>
   </dict>
   <key>hero1007_030.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,348},{192,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,63}}</string>
    <key>sourceSize</key>
    <string>{192,63}</string>
   </dict>
   <key>hero1007_029.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,315},{192,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,63}}</string>
    <key>sourceSize</key>
    <string>{192,63}</string>
   </dict>
   <key>hero1007_028.png</key>
   <dict>
    <key>frame</key>
    <string>{{330,283},{192,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,63}}</string>
    <key>sourceSize</key>
    <string>{192,63}</string>
   </dict>
   <key>hero1007_027.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,380},{192,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{192,63}}</string>
    <key>sourceSize</key>
    <string>{192,63}</string>
   </dict>
   <key>hero1007_038.png</key>
   <dict>
    <key>frame</key>
    <string>{{680,322},{159,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,52}}</string>
    <key>sourceSize</key>
    <string>{159,52}</string>
   </dict>
   <key>hero1007_037.png</key>
   <dict>
    <key>frame</key>
    <string>{{680,268},{159,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{159,52}}</string>
    <key>sourceSize</key>
    <string>{159,52}</string>
   </dict>
   <key>hero1007_046.png</key>
   <dict>
    <key>frame</key>
    <string>{{1013,28},{8,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{8,19}}</string>
    <key>sourceSize</key>
    <string>{8,19}</string>
   </dict>
   <key>hero1007_045.png</key>
   <dict>
    <key>frame</key>
    <string>{{570,237},{108,86}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{108,86}}</string>
    <key>sourceSize</key>
    <string>{108,86}</string>
   </dict>
   <key>hero1007_044.png</key>
   <dict>
    <key>frame</key>
    <string>{{587,135},{107,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{107,100}}</string>
    <key>sourceSize</key>
    <string>{107,100}</string>
   </dict>
   <key>hero1007_043.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,167},{102,99}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,99}}</string>
    <key>sourceSize</key>
    <string>{102,99}</string>
   </dict>
   <key>hero1007_058.png</key>
   <dict>
    <key>frame</key>
    <string>{{942,318},{77,77}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,77}}</string>
    <key>sourceSize</key>
    <string>{77,77}</string>
   </dict>
   <key>hero1007_023.png</key>
   <dict>
    <key>frame</key>
    <string>{{524,325},{81,70}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{81,70}}</string>
    <key>sourceSize</key>
    <string>{81,70}</string>
   </dict>
   <key>hero1007_024.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,368},{76,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{76,71}}</string>
    <key>sourceSize</key>
    <string>{76,71}</string>
   </dict>
   <key>hero1007_015.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,65},{27,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,6}}</string>
    <key>sourceSize</key>
    <string>{27,6}</string>
   </dict>
   <key>hero1007_019.png</key>
   <dict>
    <key>frame</key>
    <string>{{194,441},{62,41}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,41}}</string>
    <key>sourceSize</key>
    <string>{62,41}</string>
   </dict>
   <key>hero1007_020.png</key>
   <dict>
    <key>frame</key>
    <string>{{233,268},{95,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{95,98}}</string>
    <key>sourceSize</key>
    <string>{95,98}</string>
   </dict>
   <key>hero1007_021.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,185},{64,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,72}}</string>
    <key>sourceSize</key>
    <string>{64,72}</string>
   </dict>
   <key>hero1007_022.png</key>
   <dict>
    <key>frame</key>
    <string>{{841,370},{73,67}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{73,67}}</string>
    <key>sourceSize</key>
    <string>{73,67}</string>
   </dict>
   <key>hero1007_025.png</key>
   <dict>
    <key>frame</key>
    <string>{{524,397},{78,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,46}}</string>
    <key>sourceSize</key>
    <string>{78,46}</string>
   </dict>
   <key>hero1007_026.png</key>
   <dict>
    <key>frame</key>
    <string>{{872,0},{112,161}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{112,161}}</string>
    <key>sourceSize</key>
    <string>{112,161}</string>
   </dict>
   <key>hero1007_016.png</key>
   <dict>
    <key>frame</key>
    <string>{{800,439},{66,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,56}}</string>
    <key>sourceSize</key>
    <string>{66,56}</string>
   </dict>
   <key>hero1007_017.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,259},{66,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,57}}</string>
    <key>sourceSize</key>
    <string>{66,57}</string>
   </dict>
   <key>hero1007_018.png</key>
   <dict>
    <key>frame</key>
    <string>{{696,156},{132,110}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{132,110}}</string>
    <key>sourceSize</key>
    <string>{132,110}</string>
   </dict>
   <key>hero1007_057.png</key>
   <dict>
    <key>frame</key>
    <string>{{716,0},{154,154}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{154,154}}</string>
    <key>sourceSize</key>
    <string>{154,154}</string>
   </dict>
   <key>hero1007_059.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,0},{26,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,26}}</string>
    <key>sourceSize</key>
    <string>{26,26}</string>
   </dict>
   <key>hero1007_006.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,57},{27,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,6}}</string>
    <key>sourceSize</key>
    <string>{27,6}</string>
   </dict>
   <key>hero1007_002.png</key>
   <dict>
    <key>frame</key>
    <string>{{994,49},{28,6}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{28,6}}</string>
    <key>sourceSize</key>
    <string>{28,6}</string>
   </dict>
   <key>hero1007_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{607,325},{60,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{60,63}}</string>
    <key>sourceSize</key>
    <string>{60,63}</string>
   </dict>
   <key>hero1007_012.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,76},{29,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,39}}</string>
    <key>sourceSize</key>
    <string>{29,39}</string>
   </dict>
   <key>hero1007_013.png</key>
   <dict>
    <key>frame</key>
    <string>{{830,156},{39,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,33}}</string>
    <key>sourceSize</key>
    <string>{39,33}</string>
   </dict>
   <key>hero1007_009.png</key>
   <dict>
    <key>frame</key>
    <string>{{272,368},{46,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,33}}</string>
    <key>sourceSize</key>
    <string>{46,33}</string>
   </dict>
   <key>hero1007_010.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,117},{36,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,30}}</string>
    <key>sourceSize</key>
    <string>{36,30}</string>
   </dict>
   <key>hero1007_003.png</key>
   <dict>
    <key>frame</key>
    <string>{{916,397},{78,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,46}}</string>
    <key>sourceSize</key>
    <string>{78,46}</string>
   </dict>
   <key>hero1007_005.png</key>
   <dict>
    <key>frame</key>
    <string>{{871,163},{78,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{78,128}}</string>
    <key>sourceSize</key>
    <string>{78,128}</string>
   </dict>
   <key>hero1007_011.png</key>
   <dict>
    <key>frame</key>
    <string>{{951,163},{30,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,20}}</string>
    <key>sourceSize</key>
    <string>{30,20}</string>
   </dict>
   <key>hero1007_014.png</key>
   <dict>
    <key>frame</key>
    <string>{{986,149},{30,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,23}}</string>
    <key>sourceSize</key>
    <string>{30,23}</string>
   </dict>
   <key>hero1007_004.png</key>
   <dict>
    <key>frame</key>
    <string>{{841,293},{99,75}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,75}}</string>
    <key>sourceSize</key>
    <string>{99,75}</string>
   </dict>
   <key>hero1007_008.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,457},{258,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{258,19}}</string>
    <key>sourceSize</key>
    <string>{258,19}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero1007.png</string>
   <key>textureFileName</key>
   <string>hero1007.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>