<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3013_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,275},{63,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,39}}</string>
        <key>sourceSize</key>
        <string>{63,39}</string>
      </dict>
      <key>hero3013_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{379,275},{69,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,41}}</string>
        <key>sourceSize</key>
        <string>{69,41}</string>
      </dict>
      <key>hero3013_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,275},{63,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,45}}</string>
        <key>sourceSize</key>
        <string>{63,45}</string>
      </dict>
      <key>hero3013_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{649,275},{47,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,26}}</string>
        <key>sourceSize</key>
        <string>{47,26}</string>
      </dict>
      <key>hero3013_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{253,275},{73,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,37}}</string>
        <key>sourceSize</key>
        <string>{73,37}</string>
      </dict>
      <key>hero3013_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,275},{67,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,44}}</string>
        <key>sourceSize</key>
        <string>{67,44}</string>
      </dict>
      <key>hero3013_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,116},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>hero3013_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{893,0},{114,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,114}}</string>
        <key>sourceSize</key>
        <string>{114,114}</string>
      </dict>
      <key>hero3013_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,62},{7,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,4}}</string>
        <key>sourceSize</key>
        <string>{7,4}</string>
      </dict>
      <key>hero3013_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,287},{49,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,9}}</string>
        <key>sourceSize</key>
        <string>{49,9}</string>
      </dict>
      <key>hero3013_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,287},{56,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,8}}</string>
        <key>sourceSize</key>
        <string>{56,8}</string>
      </dict>
      <key>hero3013_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,46},{12,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,6}}</string>
        <key>sourceSize</key>
        <string>{12,6}</string>
      </dict>
      <key>hero3013_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,54},{11,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,6}}</string>
        <key>sourceSize</key>
        <string>{11,6}</string>
      </dict>
      <key>hero3013_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,196},{144,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,109}}</string>
        <key>sourceSize</key>
        <string>{144,109}</string>
      </dict>
      <key>hero3013_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{698,0},{193,194}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{193,194}}</string>
        <key>sourceSize</key>
        <string>{193,194}</string>
      </dict>
      <key>hero3013_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{191,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,273}}</string>
        <key>sourceSize</key>
        <string>{191,273}</string>
      </dict>
      <key>hero3013_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,0},{187,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{187,273}}</string>
        <key>sourceSize</key>
        <string>{187,273}</string>
      </dict>
      <key>hero3013_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{382,0},{156,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,273}}</string>
        <key>sourceSize</key>
        <string>{156,273}</string>
      </dict>
      <key>hero3013_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,0},{156,273}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{156,273}}</string>
        <key>sourceSize</key>
        <string>{156,273}</string>
      </dict>
      <key>hero3013_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,287},{26,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,16}}</string>
        <key>sourceSize</key>
        <string>{26,16}</string>
      </dict>
      <key>hero3013_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,232},{49,66}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,66}}</string>
        <key>sourceSize</key>
        <string>{49,66}</string>
      </dict>
      <key>hero3013_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{109,287},{31,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,20}}</string>
        <key>sourceSize</key>
        <string>{31,20}</string>
      </dict>
      <key>hero3013_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,196},{44,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,46}}</string>
        <key>sourceSize</key>
        <string>{44,46}</string>
      </dict>
      <key>hero3013_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,297},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>hero3013_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,297},{17,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,20}}</string>
        <key>sourceSize</key>
        <string>{17,20}</string>
      </dict>
      <key>hero3013_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{515,275},{18,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,30}}</string>
        <key>sourceSize</key>
        <string>{18,30}</string>
      </dict>
      <key>hero3013_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{19,297},{17,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,16}}</string>
        <key>sourceSize</key>
        <string>{17,16}</string>
      </dict>
      <key>hero3013_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{872,287},{14,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,20}}</string>
        <key>sourceSize</key>
        <string>{14,20}</string>
      </dict>
      <key>hero3013_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{142,287},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>hero3013_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{890,232},{80,88}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,88}}</string>
        <key>sourceSize</key>
        <string>{80,88}</string>
      </dict>
      <key>hero3013_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{600,275},{47,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,35}}</string>
        <key>sourceSize</key>
        <string>{47,35}</string>
      </dict>
      <key>hero3013_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{844,244},{42,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,41}}</string>
        <key>sourceSize</key>
        <string>{42,41}</string>
      </dict>
      <key>hero3013_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,275},{49,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,36}}</string>
        <key>sourceSize</key>
        <string>{49,36}</string>
      </dict>
      <key>hero3013_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,0},{13,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,13}}</string>
        <key>sourceSize</key>
        <string>{13,13}</string>
      </dict>
      <key>hero3013_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,298},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>hero3013_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,31},{11,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,13}}</string>
        <key>sourceSize</key>
        <string>{11,13}</string>
      </dict>
      <key>hero3013_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{1009,15},{12,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,14}}</string>
        <key>sourceSize</key>
        <string>{12,14}</string>
      </dict>
      <key>hero3013_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,275},{182,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,10}}</string>
        <key>sourceSize</key>
        <string>{182,10}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero3013.png</string>
      <key>textureFileName</key>
      <string>hero3013.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>