<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>hero3006_041.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,152},{12,7}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,7}}</string>
    <key>sourceSize</key>
    <string>{12,7}</string>
   </dict>
   <key>hero3006_088.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,0},{147,143}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{147,143}}</string>
    <key>sourceSize</key>
    <string>{147,143}</string>
   </dict>
   <key>hero3006_089.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,172},{25,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,25}}</string>
    <key>sourceSize</key>
    <string>{25,25}</string>
   </dict>
   <key>hero3006_040.png</key>
   <dict>
    <key>frame</key>
    <string>{{64,394},{31,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,29}}</string>
    <key>sourceSize</key>
    <string>{31,29}</string>
   </dict>
   <key>hero3006_016.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,264},{39,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,35}}</string>
    <key>sourceSize</key>
    <string>{39,35}</string>
   </dict>
   <key>hero3006_015.png</key>
   <dict>
    <key>frame</key>
    <string>{{217,301},{44,46}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,46}}</string>
    <key>sourceSize</key>
    <string>{44,46}</string>
   </dict>
   <key>hero3006_014.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,184},{35,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,81}}</string>
    <key>sourceSize</key>
    <string>{35,81}</string>
   </dict>
   <key>hero3006_013.png</key>
   <dict>
    <key>frame</key>
    <string>{{974,97},{37,85}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{37,85}}</string>
    <key>sourceSize</key>
    <string>{37,85}</string>
   </dict>
   <key>hero3006_012.png</key>
   <dict>
    <key>frame</key>
    <string>{{937,97},{35,132}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,132}}</string>
    <key>sourceSize</key>
    <string>{35,132}</string>
   </dict>
   <key>hero3006_011.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,161},{30,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,30}}</string>
    <key>sourceSize</key>
    <string>{30,30}</string>
   </dict>
   <key>hero3006_024.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,189},{34,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,56}}</string>
    <key>sourceSize</key>
    <string>{34,56}</string>
   </dict>
   <key>hero3006_023.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,104},{100,145}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,145}}</string>
    <key>sourceSize</key>
    <string>{100,145}</string>
   </dict>
   <key>hero3006_022.png</key>
   <dict>
    <key>frame</key>
    <string>{{821,97},{114,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,146}}</string>
    <key>sourceSize</key>
    <string>{114,146}</string>
   </dict>
   <key>hero3006_021.png</key>
   <dict>
    <key>frame</key>
    <string>{{324,402},{66,48}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{66,48}}</string>
    <key>sourceSize</key>
    <string>{66,48}</string>
   </dict>
   <key>hero3006_020.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,139},{25,31}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{25,31}}</string>
    <key>sourceSize</key>
    <string>{25,31}</string>
   </dict>
   <key>hero3006_019.png</key>
   <dict>
    <key>frame</key>
    <string>{{443,95},{26,42}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{26,42}}</string>
    <key>sourceSize</key>
    <string>{26,42}</string>
   </dict>
   <key>hero3006_018.png</key>
   <dict>
    <key>frame</key>
    <string>{{707,276},{56,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,82}}</string>
    <key>sourceSize</key>
    <string>{56,82}</string>
   </dict>
   <key>hero3006_017.png</key>
   <dict>
    <key>frame</key>
    <string>{{228,212},{35,50}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,50}}</string>
    <key>sourceSize</key>
    <string>{35,50}</string>
   </dict>
   <key>hero3006_010.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,199},{23,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,22}}</string>
    <key>sourceSize</key>
    <string>{23,22}</string>
   </dict>
   <key>hero3006_087.png</key>
   <dict>
    <key>frame</key>
    <string>{{254,402},{68,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,56}}</string>
    <key>sourceSize</key>
    <string>{68,56}</string>
   </dict>
   <key>hero3006_086.png</key>
   <dict>
    <key>frame</key>
    <string>{{789,245},{124,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,76}}</string>
    <key>sourceSize</key>
    <string>{124,76}</string>
   </dict>
   <key>hero3006_085.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,196},{124,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{124,76}}</string>
    <key>sourceSize</key>
    <string>{124,76}</string>
   </dict>
   <key>hero3006_084.png</key>
   <dict>
    <key>frame</key>
    <string>{{269,265},{123,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{123,76}}</string>
    <key>sourceSize</key>
    <string>{123,76}</string>
   </dict>
   <key>hero3006_083.png</key>
   <dict>
    <key>frame</key>
    <string>{{583,272},{122,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{122,76}}</string>
    <key>sourceSize</key>
    <string>{122,76}</string>
   </dict>
   <key>hero3006_082.png</key>
   <dict>
    <key>frame</key>
    <string>{{558,350},{115,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,71}}</string>
    <key>sourceSize</key>
    <string>{115,71}</string>
   </dict>
   <key>hero3006_081.png</key>
   <dict>
    <key>frame</key>
    <string>{{739,382},{102,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{102,64}}</string>
    <key>sourceSize</key>
    <string>{102,64}</string>
   </dict>
   <key>hero3006_080.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,382},{42,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,27}}</string>
    <key>sourceSize</key>
    <string>{42,27}</string>
   </dict>
   <key>hero3006_033.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,235},{139,68}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{139,68}}</string>
    <key>sourceSize</key>
    <string>{139,68}</string>
   </dict>
   <key>hero3006_032.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,95},{171,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{171,92}}</string>
    <key>sourceSize</key>
    <string>{171,92}</string>
   </dict>
   <key>hero3006_031.png</key>
   <dict>
    <key>frame</key>
    <string>{{823,0},{190,95}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{190,95}}</string>
    <key>sourceSize</key>
    <string>{190,95}</string>
   </dict>
   <key>hero3006_030.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{268,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{268,90}}</string>
    <key>sourceSize</key>
    <string>{268,90}</string>
   </dict>
   <key>hero3006_029.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,0},{201,93}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{201,93}}</string>
    <key>sourceSize</key>
    <string>{201,93}</string>
   </dict>
   <key>hero3006_028.png</key>
   <dict>
    <key>frame</key>
    <string>{{622,0},{199,87}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{199,87}}</string>
    <key>sourceSize</key>
    <string>{199,87}</string>
   </dict>
   <key>hero3006_027.png</key>
   <dict>
    <key>frame</key>
    <string>{{622,89},{175,91}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{175,91}}</string>
    <key>sourceSize</key>
    <string>{175,91}</string>
   </dict>
   <key>hero3006_026.png</key>
   <dict>
    <key>frame</key>
    <string>{{896,360},{72,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{72,57}}</string>
    <key>sourceSize</key>
    <string>{72,57}</string>
   </dict>
   <key>hero3006_059.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,350},{111,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,62}}</string>
    <key>sourceSize</key>
    <string>{111,62}</string>
   </dict>
   <key>hero3006_057.png</key>
   <dict>
    <key>frame</key>
    <string>{{602,182},{130,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,88}}</string>
    <key>sourceSize</key>
    <string>{130,88}</string>
   </dict>
   <key>hero3006_058.png</key>
   <dict>
    <key>frame</key>
    <string>{{263,343},{129,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,57}}</string>
    <key>sourceSize</key>
    <string>{129,57}</string>
   </dict>
   <key>hero3006_076.png</key>
   <dict>
    <key>frame</key>
    <string>{{102,104},{134,90}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{134,90}}</string>
    <key>sourceSize</key>
    <string>{134,90}</string>
   </dict>
   <key>hero3006_060.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,121},{14,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,13}}</string>
    <key>sourceSize</key>
    <string>{14,13}</string>
   </dict>
   <key>hero3006_073.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,104},{14,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,15}}</string>
    <key>sourceSize</key>
    <string>{14,15}</string>
   </dict>
   <key>hero3006_066.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,325},{43,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,43}}</string>
    <key>sourceSize</key>
    <string>{43,43}</string>
   </dict>
   <key>hero3006_065.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,104},{20,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,13}}</string>
    <key>sourceSize</key>
    <string>{20,13}</string>
   </dict>
   <key>hero3006_074.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,149},{14,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,8}}</string>
    <key>sourceSize</key>
    <string>{14,8}</string>
   </dict>
   <key>hero3006_068.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,136},{13,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,14}}</string>
    <key>sourceSize</key>
    <string>{13,14}</string>
   </dict>
   <key>hero3006_061.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,92},{12,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,8}}</string>
    <key>sourceSize</key>
    <string>{12,8}</string>
   </dict>
   <key>hero3006_075.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,134},{17,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,13}}</string>
    <key>sourceSize</key>
    <string>{17,13}</string>
   </dict>
   <key>hero3006_071.png</key>
   <dict>
    <key>frame</key>
    <string>{{915,266},{53,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,92}}</string>
    <key>sourceSize</key>
    <string>{53,92}</string>
   </dict>
   <key>hero3006_056.png</key>
   <dict>
    <key>frame</key>
    <string>{{935,419},{32,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,18}}</string>
    <key>sourceSize</key>
    <string>{32,18}</string>
   </dict>
   <key>hero3006_067.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,324},{62,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,73}}</string>
    <key>sourceSize</key>
    <string>{62,73}</string>
   </dict>
   <key>hero3006_072.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,282},{46,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,56}}</string>
    <key>sourceSize</key>
    <string>{46,56}</string>
   </dict>
   <key>hero3006_070.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,370},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>hero3006_062.png</key>
   <dict>
    <key>frame</key>
    <string>{{64,324},{35,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,33}}</string>
    <key>sourceSize</key>
    <string>{35,33}</string>
   </dict>
   <key>hero3006_069.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,385},{38,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,30}}</string>
    <key>sourceSize</key>
    <string>{38,30}</string>
   </dict>
   <key>hero3006_077.png</key>
   <dict>
    <key>frame</key>
    <string>{{199,415},{49,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,15}}</string>
    <key>sourceSize</key>
    <string>{49,15}</string>
   </dict>
   <key>hero3006_079.png</key>
   <dict>
    <key>frame</key>
    <string>{{101,274},{114,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,74}}</string>
    <key>sourceSize</key>
    <string>{114,74}</string>
   </dict>
   <key>hero3006_064.png</key>
   <dict>
    <key>frame</key>
    <string>{{406,247},{34,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,33}}</string>
    <key>sourceSize</key>
    <string>{34,33}</string>
   </dict>
   <key>hero3006_063.png</key>
   <dict>
    <key>frame</key>
    <string>{{214,383},{38,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,30}}</string>
    <key>sourceSize</key>
    <string>{38,30}</string>
   </dict>
   <key>hero3006_078.png</key>
   <dict>
    <key>frame</key>
    <string>{{884,419},{49,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,15}}</string>
    <key>sourceSize</key>
    <string>{49,15}</string>
   </dict>
   <key>hero3006_044.png</key>
   <dict>
    <key>frame</key>
    <string>{{442,305},{114,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{114,74}}</string>
    <key>sourceSize</key>
    <string>{114,74}</string>
   </dict>
   <key>hero3006_007.png</key>
   <dict>
    <key>frame</key>
    <string>{{439,381},{111,62}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,62}}</string>
    <key>sourceSize</key>
    <string>{111,62}</string>
   </dict>
   <key>hero3006_005.png</key>
   <dict>
    <key>frame</key>
    <string>{{470,145},{130,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{130,88}}</string>
    <key>sourceSize</key>
    <string>{130,88}</string>
   </dict>
   <key>hero3006_006.png</key>
   <dict>
    <key>frame</key>
    <string>{{765,323},{129,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{129,57}}</string>
    <key>sourceSize</key>
    <string>{129,57}</string>
   </dict>
   <key>hero3006_042.png</key>
   <dict>
    <key>frame</key>
    <string>{{270,189},{134,74}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{134,74}}</string>
    <key>sourceSize</key>
    <string>{134,74}</string>
   </dict>
   <key>hero3006_008.png</key>
   <dict>
    <key>frame</key>
    <string>{{254,129},{14,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,13}}</string>
    <key>sourceSize</key>
    <string>{14,13}</string>
   </dict>
   <key>hero3006_053.png</key>
   <dict>
    <key>frame</key>
    <string>{{254,112},{14,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,15}}</string>
    <key>sourceSize</key>
    <string>{14,15}</string>
   </dict>
   <key>hero3006_046.png</key>
   <dict>
    <key>frame</key>
    <string>{{394,340},{43,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,43}}</string>
    <key>sourceSize</key>
    <string>{43,43}</string>
   </dict>
   <key>hero3006_039.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,89},{20,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,13}}</string>
    <key>sourceSize</key>
    <string>{20,13}</string>
   </dict>
   <key>hero3006_052.png</key>
   <dict>
    <key>frame</key>
    <string>{{602,145},{14,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{14,8}}</string>
    <key>sourceSize</key>
    <string>{14,8}</string>
   </dict>
   <key>hero3006_048.png</key>
   <dict>
    <key>frame</key>
    <string>{{253,144},{13,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,14}}</string>
    <key>sourceSize</key>
    <string>{13,14}</string>
   </dict>
   <key>hero3006_009.png</key>
   <dict>
    <key>frame</key>
    <string>{{256,102},{12,8}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,8}}</string>
    <key>sourceSize</key>
    <string>{12,8}</string>
   </dict>
   <key>hero3006_051.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,119},{17,13}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{17,13}}</string>
    <key>sourceSize</key>
    <string>{17,13}</string>
   </dict>
   <key>hero3006_055.png</key>
   <dict>
    <key>frame</key>
    <string>{{734,182},{53,92}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{53,92}}</string>
    <key>sourceSize</key>
    <string>{53,92}</string>
   </dict>
   <key>hero3006_004.png</key>
   <dict>
    <key>frame</key>
    <string>{{552,423},{32,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,18}}</string>
    <key>sourceSize</key>
    <string>{32,18}</string>
   </dict>
   <key>hero3006_090.png</key>
   <dict>
    <key>frame</key>
    <string>{{789,182},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>hero3006_047.png</key>
   <dict>
    <key>frame</key>
    <string>{{675,360},{62,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,73}}</string>
    <key>sourceSize</key>
    <string>{62,73}</string>
   </dict>
   <key>hero3006_054.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,267},{46,56}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,56}}</string>
    <key>sourceSize</key>
    <string>{46,56}</string>
   </dict>
   <key>hero3006_050.png</key>
   <dict>
    <key>frame</key>
    <string>{{217,349},{40,32}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{40,32}}</string>
    <key>sourceSize</key>
    <string>{40,32}</string>
   </dict>
   <key>hero3006_035.png</key>
   <dict>
    <key>frame</key>
    <string>{{937,231},{35,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,33}}</string>
    <key>sourceSize</key>
    <string>{35,33}</string>
   </dict>
   <key>hero3006_049.png</key>
   <dict>
    <key>frame</key>
    <string>{{970,404},{38,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,30}}</string>
    <key>sourceSize</key>
    <string>{38,30}</string>
   </dict>
   <key>hero3006_045.png</key>
   <dict>
    <key>frame</key>
    <string>{{97,414},{49,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,15}}</string>
    <key>sourceSize</key>
    <string>{49,15}</string>
   </dict>
   <key>hero3006_038.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,251},{99,71}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{99,71}}</string>
    <key>sourceSize</key>
    <string>{99,71}</string>
   </dict>
   <key>hero3006_003.png</key>
   <dict>
    <key>frame</key>
    <string>{{238,193},{29,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,17}}</string>
    <key>sourceSize</key>
    <string>{29,17}</string>
   </dict>
   <key>hero3006_002.png</key>
   <dict>
    <key>frame</key>
    <string>{{392,417},{42,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{42,20}}</string>
    <key>sourceSize</key>
    <string>{42,20}</string>
   </dict>
   <key>hero3006_001.png</key>
   <dict>
    <key>frame</key>
    <string>{{843,411},{39,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{39,27}}</string>
    <key>sourceSize</key>
    <string>{39,27}</string>
   </dict>
   <key>hero3006_037.png</key>
   <dict>
    <key>frame</key>
    <string>{{64,359},{34,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{34,33}}</string>
    <key>sourceSize</key>
    <string>{34,33}</string>
   </dict>
   <key>hero3006_036.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,399},{38,30}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,30}}</string>
    <key>sourceSize</key>
    <string>{38,30}</string>
   </dict>
   <key>hero3006_043.png</key>
   <dict>
    <key>frame</key>
    <string>{{148,414},{49,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{49,15}}</string>
    <key>sourceSize</key>
    <string>{49,15}</string>
   </dict>
   <key>hero3006_025.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,92},{254,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{254,10}}</string>
    <key>sourceSize</key>
    <string>{254,10}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>hero3006.png</string>
   <key>textureFileName</key>
   <string>hero3006.png</string>
   <key>size</key>
   <string>{1024,512}</string>
  </dict>
 </dict>
</plist>