<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1011_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,86},{35,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,72}}</string>
        <key>sourceSize</key>
        <string>{35,72}</string>
      </dict>
      <key>hero1011_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,125},{50,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,42}}</string>
        <key>sourceSize</key>
        <string>{50,42}</string>
      </dict>
      <key>hero1011_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,86},{81,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,81}}</string>
        <key>sourceSize</key>
        <string>{81,81}</string>
      </dict>
      <key>hero1011_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{114,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,123}}</string>
        <key>sourceSize</key>
        <string>{114,123}</string>
      </dict>
      <key>hero1011_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,86},{85,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,85}}</string>
        <key>sourceSize</key>
        <string>{85,85}</string>
      </dict>
      <key>hero1011_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,43},{162,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,41}}</string>
        <key>sourceSize</key>
        <string>{162,41}</string>
      </dict>
      <key>hero1011_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,0},{162,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,41}}</string>
        <key>sourceSize</key>
        <string>{162,41}</string>
      </dict>
      <key>hero1011_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{116,43},{162,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,41}}</string>
        <key>sourceSize</key>
        <string>{162,41}</string>
      </dict>
      <key>hero1011_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,0},{162,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,41}}</string>
        <key>sourceSize</key>
        <string>{162,41}</string>
      </dict>
      <key>hero1011_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,86},{12,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,21}}</string>
        <key>sourceSize</key>
        <string>{12,21}</string>
      </dict>
      <key>hero1011_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{477,132},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>hero1011_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,0},{56,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>hero1011_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,66},{56,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>hero1011_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,86},{56,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,64}}</string>
        <key>sourceSize</key>
        <string>{56,64}</string>
      </dict>
      <key>hero1011_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{52,125},{55,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,36}}</string>
        <key>sourceSize</key>
        <string>{55,36}</string>
      </dict>
      <key>hero1011_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,114},{29,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,26}}</string>
        <key>sourceSize</key>
        <string>{29,26}</string>
      </dict>
      <key>hero1011_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{261,86},{16,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,19}}</string>
        <key>sourceSize</key>
        <string>{16,19}</string>
      </dict>
      <key>hero1011_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,132},{45,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,42}}</string>
        <key>sourceSize</key>
        <string>{45,42}</string>
      </dict>
      <key>hero1011_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,152},{18,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,14}}</string>
        <key>sourceSize</key>
        <string>{18,14}</string>
      </dict>
      <key>hero1011_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,152},{17,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>hero1011_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,86},{29,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,26}}</string>
        <key>sourceSize</key>
        <string>{29,26}</string>
      </dict>
      <key>hero1011_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,142},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>hero1011_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,169},{139,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,20}}</string>
        <key>sourceSize</key>
        <string>{139,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1011.png</string>
      <key>textureFileName</key>
      <string>hero1011.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>