<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3007_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,43},{6,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,11}}</string>
        <key>sourceSize</key>
        <string>{6,11}</string>
      </dict>
      <key>hero3007_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,72},{51,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,51}}</string>
        <key>sourceSize</key>
        <string>{51,51}</string>
      </dict>
      <key>hero3007_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,51},{189,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,49}}</string>
        <key>sourceSize</key>
        <string>{189,49}</string>
      </dict>
      <key>hero3007_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,0},{189,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{189,49}}</string>
        <key>sourceSize</key>
        <string>{189,49}</string>
      </dict>
      <key>hero3007_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,102},{188,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{188,48}}</string>
        <key>sourceSize</key>
        <string>{188,48}</string>
      </dict>
      <key>hero3007_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,152},{186,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,48}}</string>
        <key>sourceSize</key>
        <string>{186,48}</string>
      </dict>
      <key>hero3007_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,202},{176,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,46}}</string>
        <key>sourceSize</key>
        <string>{176,46}</string>
      </dict>
      <key>hero3007_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,0},{157,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,41}}</string>
        <key>sourceSize</key>
        <string>{157,41}</string>
      </dict>
      <key>hero3007_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{64,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,17}}</string>
        <key>sourceSize</key>
        <string>{64,17}</string>
      </dict>
      <key>hero3007_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{155,90}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{155,90}}</string>
        <key>sourceSize</key>
        <string>{155,90}</string>
      </dict>
      <key>hero3007_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,137},{48,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,21}}</string>
        <key>sourceSize</key>
        <string>{48,21}</string>
      </dict>
      <key>hero3007_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,92},{47,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,37}}</string>
        <key>sourceSize</key>
        <string>{47,37}</string>
      </dict>
      <key>hero3007_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,172},{23,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,15}}</string>
        <key>sourceSize</key>
        <string>{23,15}</string>
      </dict>
      <key>hero3007_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,151},{27,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,31}}</string>
        <key>sourceSize</key>
        <string>{27,31}</string>
      </dict>
      <key>hero3007_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,154},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>hero3007_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{35,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,57}}</string>
        <key>sourceSize</key>
        <string>{35,57}</string>
      </dict>
      <key>hero3007_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{397,159},{26,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,29}}</string>
        <key>sourceSize</key>
        <string>{26,29}</string>
      </dict>
      <key>hero3007_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,160},{30,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,17}}</string>
        <key>sourceSize</key>
        <string>{30,17}</string>
      </dict>
      <key>hero3007_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,136},{37,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,34}}</string>
        <key>sourceSize</key>
        <string>{37,34}</string>
      </dict>
      <key>hero3007_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{456,102},{49,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,32}}</string>
        <key>sourceSize</key>
        <string>{49,32}</string>
      </dict>
      <key>hero3007_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,177},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>hero3007_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,163},{14,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,17}}</string>
        <key>sourceSize</key>
        <string>{14,17}</string>
      </dict>
      <key>hero3007_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,92},{20,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,15}}</string>
        <key>sourceSize</key>
        <string>{20,15}</string>
      </dict>
      <key>hero3007_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,126},{18,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,16}}</string>
        <key>sourceSize</key>
        <string>{18,16}</string>
      </dict>
      <key>hero3007_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,172},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>hero3007_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,72},{53,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,63}}</string>
        <key>sourceSize</key>
        <string>{53,63}</string>
      </dict>
      <key>hero3007_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,131},{48,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,30}}</string>
        <key>sourceSize</key>
        <string>{48,30}</string>
      </dict>
      <key>hero3007_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,92},{47,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,37}}</string>
        <key>sourceSize</key>
        <string>{47,37}</string>
      </dict>
      <key>hero3007_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{29,167},{23,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,15}}</string>
        <key>sourceSize</key>
        <string>{23,15}</string>
      </dict>
      <key>hero3007_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{126,144},{27,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,31}}</string>
        <key>sourceSize</key>
        <string>{27,31}</string>
      </dict>
      <key>hero3007_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,136},{15,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,16}}</string>
        <key>sourceSize</key>
        <string>{15,16}</string>
      </dict>
      <key>hero3007_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{466,43},{35,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,57}}</string>
        <key>sourceSize</key>
        <string>{35,57}</string>
      </dict>
      <key>hero3007_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{425,159},{26,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,29}}</string>
        <key>sourceSize</key>
        <string>{26,29}</string>
      </dict>
      <key>hero3007_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{76,163},{30,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,17}}</string>
        <key>sourceSize</key>
        <string>{30,17}</string>
      </dict>
      <key>hero3007_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{37,131},{37,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,34}}</string>
        <key>sourceSize</key>
        <string>{37,34}</string>
      </dict>
      <key>hero3007_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,125},{49,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,32}}</string>
        <key>sourceSize</key>
        <string>{49,32}</string>
      </dict>
      <key>hero3007_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,177},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>hero3007_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,167},{14,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,17}}</string>
        <key>sourceSize</key>
        <string>{14,17}</string>
      </dict>
      <key>hero3007_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,109},{20,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,15}}</string>
        <key>sourceSize</key>
        <string>{20,15}</string>
      </dict>
      <key>hero3007_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{375,160},{18,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,16}}</string>
        <key>sourceSize</key>
        <string>{18,16}</string>
      </dict>
      <key>hero3007_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{493,172},{13,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,16}}</string>
        <key>sourceSize</key>
        <string>{13,16}</string>
      </dict>
      <key>hero3007_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{348,43},{116,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,27}}</string>
        <key>sourceSize</key>
        <string>{116,27}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero3007.png</string>
      <key>textureFileName</key>
      <string>hero3007.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>