<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2011_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,17},{18,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,20}}</string>
        <key>sourceSize</key>
        <string>{18,20}</string>
      </dict>
      <key>hero2011_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{367,0},{61,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,61}}</string>
        <key>sourceSize</key>
        <string>{61,61}</string>
      </dict>
      <key>hero2011_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,25},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero2011_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,0},{48,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,93}}</string>
        <key>sourceSize</key>
        <string>{48,93}</string>
      </dict>
      <key>hero2011_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,25},{38,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,48}}</string>
        <key>sourceSize</key>
        <string>{38,48}</string>
      </dict>
      <key>hero2011_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,0},{48,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,64}}</string>
        <key>sourceSize</key>
        <string>{48,64}</string>
      </dict>
      <key>hero2011_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{56,25},{45,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,44}}</string>
        <key>sourceSize</key>
        <string>{45,44}</string>
      </dict>
      <key>hero2011_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,0},{57,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,77}}</string>
        <key>sourceSize</key>
        <string>{57,77}</string>
      </dict>
      <key>hero2011_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{480,0},{23,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,15}}</string>
        <key>sourceSize</key>
        <string>{23,15}</string>
      </dict>
      <key>hero2011_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,25},{22,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,15}}</string>
        <key>sourceSize</key>
        <string>{22,15}</string>
      </dict>
      <key>hero2011bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,0},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero2011_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{256,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,23}}</string>
        <key>sourceSize</key>
        <string>{256,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2011.png</string>
      <key>textureFileName</key>
      <string>hero2011.png</string>
      <key>size</key>
      <string>{512,128}</string>
    </dict>
  </dict>
</plist>