<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2014_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,35},{14,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,25}}</string>
        <key>sourceSize</key>
        <string>{14,25}</string>
      </dict>
      <key>hero2014_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,53},{42,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,45}}</string>
        <key>sourceSize</key>
        <string>{42,45}</string>
      </dict>
      <key>hero2014_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,100},{36,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,24}}</string>
        <key>sourceSize</key>
        <string>{36,24}</string>
      </dict>
      <key>hero2014_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,69},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero2014_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,15},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero2014_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,62},{37,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,38}}</string>
        <key>sourceSize</key>
        <string>{37,38}</string>
      </dict>
      <key>hero2014_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,35},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero2014_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,15},{56,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,50}}</string>
        <key>sourceSize</key>
        <string>{56,50}</string>
      </dict>
      <key>hero2014_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,102},{22,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,11}}</string>
        <key>sourceSize</key>
        <string>{22,11}</string>
      </dict>
      <key>hero2014_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,15},{43,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,45}}</string>
        <key>sourceSize</key>
        <string>{43,45}</string>
      </dict>
      <key>hero2014_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{178,0},{56,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,51}}</string>
        <key>sourceSize</key>
        <string>{56,51}</string>
      </dict>
      <key>hero2014_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,67},{22,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,16}}</string>
        <key>sourceSize</key>
        <string>{22,16}</string>
      </dict>
      <key>hero2014_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,15},{16,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,23}}</string>
        <key>sourceSize</key>
        <string>{16,23}</string>
      </dict>
      <key>hero2014_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,40},{13,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,25}}</string>
        <key>sourceSize</key>
        <string>{13,25}</string>
      </dict>
      <key>hero2014_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,67},{10,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,12}}</string>
        <key>sourceSize</key>
        <string>{10,12}</string>
      </dict>
      <key>hero2014_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,100},{36,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,24}}</string>
        <key>sourceSize</key>
        <string>{36,24}</string>
      </dict>
      <key>hero2014_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,67},{32,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,38}}</string>
        <key>sourceSize</key>
        <string>{32,38}</string>
      </dict>
      <key>hero2014_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,53},{11,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,13}}</string>
        <key>sourceSize</key>
        <string>{11,13}</string>
      </dict>
      <key>hero2014_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,69},{13,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,4}}</string>
        <key>sourceSize</key>
        <string>{13,4}</string>
      </dict>
      <key>hero2014_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,85},{20,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,16}}</string>
        <key>sourceSize</key>
        <string>{20,16}</string>
      </dict>
      <key>hero2014_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,0},{17,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,33}}</string>
        <key>sourceSize</key>
        <string>{17,33}</string>
      </dict>
      <key>hero2014_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,68},{11,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,4}}</string>
        <key>sourceSize</key>
        <string>{11,4}</string>
      </dict>
      <key>hero2014_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,62},{21,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,49}}</string>
        <key>sourceSize</key>
        <string>{21,49}</string>
      </dict>
      <key>hero2014_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{176,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,13}}</string>
        <key>sourceSize</key>
        <string>{176,13}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2014.png</string>
      <key>textureFileName</key>
      <string>hero2014.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>