<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1640,840}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1640,840}}</string>
                <key>sourceSize</key>
                <string>{1640,840}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battlescene_grassland.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d3516b88032784eeeb5f42c3ee85a9b$</string>
            <key>textureFileName</key>
            <string>battlescene_grassland.png</string>
        </dict>
    </dict>
</plist>
