<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1021_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,188},{75,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,53}}</string>
        <key>sourceSize</key>
        <string>{75,53}</string>
      </dict>
      <key>hero1021_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,149},{75,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,53}}</string>
        <key>sourceSize</key>
        <string>{75,53}</string>
      </dict>
      <key>hero1021_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,133},{75,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,53}}</string>
        <key>sourceSize</key>
        <string>{75,53}</string>
      </dict>
      <key>hero1021_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,149},{75,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,53}}</string>
        <key>sourceSize</key>
        <string>{75,53}</string>
      </dict>
      <key>hero1021_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,149},{75,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,53}}</string>
        <key>sourceSize</key>
        <string>{75,53}</string>
      </dict>
      <key>hero1021_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,16},{68,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,131}}</string>
        <key>sourceSize</key>
        <string>{68,131}</string>
      </dict>
      <key>hero1021_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{70,16},{68,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,131}}</string>
        <key>sourceSize</key>
        <string>{68,131}</string>
      </dict>
      <key>hero1021_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,16},{68,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,131}}</string>
        <key>sourceSize</key>
        <string>{68,131}</string>
      </dict>
      <key>hero1021_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{280,16},{68,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,131}}</string>
        <key>sourceSize</key>
        <string>{68,131}</string>
      </dict>
      <key>hero1021_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,16},{68,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,131}}</string>
        <key>sourceSize</key>
        <string>{68,131}</string>
      </dict>
      <key>hero1021_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{354,0},{68,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,131}}</string>
        <key>sourceSize</key>
        <string>{68,131}</string>
      </dict>
      <key>hero1021_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{68,131}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,131}}</string>
        <key>sourceSize</key>
        <string>{68,131}</string>
      </dict>
      <key>hero1021_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{356,271},{132,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,39}}</string>
        <key>sourceSize</key>
        <string>{132,39}</string>
      </dict>
      <key>hero1021_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,240},{38,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,31}}</string>
        <key>sourceSize</key>
        <string>{38,31}</string>
      </dict>
      <key>hero1021_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,204},{82,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,34}}</string>
        <key>sourceSize</key>
        <string>{82,34}</string>
      </dict>
      <key>hero1021_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,205},{54,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,48}}</string>
        <key>sourceSize</key>
        <string>{54,48}</string>
      </dict>
      <key>hero1021_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,204},{58,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,52}}</string>
        <key>sourceSize</key>
        <string>{58,52}</string>
      </dict>
      <key>hero1021_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,204},{53,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,54}}</string>
        <key>sourceSize</key>
        <string>{53,54}</string>
      </dict>
      <key>hero1021_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,224},{33,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,55}}</string>
        <key>sourceSize</key>
        <string>{33,55}</string>
      </dict>
      <key>hero1021_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,33},{16,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,9}}</string>
        <key>sourceSize</key>
        <string>{16,9}</string>
      </dict>
      <key>hero1021_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,58},{11,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,9}}</string>
        <key>sourceSize</key>
        <string>{11,9}</string>
      </dict>
      <key>hero1021_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,44},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>hero1021_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,133},{60,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,70}}</string>
        <key>sourceSize</key>
        <string>{60,70}</string>
      </dict>
      <key>hero1021_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,0},{13,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,31}}</string>
        <key>sourceSize</key>
        <string>{13,31}</string>
      </dict>
      <key>hero1021_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,204},{24,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,41}}</string>
        <key>sourceSize</key>
        <string>{24,41}</string>
      </dict>
      <key>hero1021_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{51,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,73}}</string>
        <key>sourceSize</key>
        <string>{51,73}</string>
      </dict>
      <key>hero1021_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,212},{44,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,49}}</string>
        <key>sourceSize</key>
        <string>{44,49}</string>
      </dict>
      <key>hero1021_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,149},{59,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,61}}</string>
        <key>sourceSize</key>
        <string>{59,61}</string>
      </dict>
      <key>hero1021_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,243},{44,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,25}}</string>
        <key>sourceSize</key>
        <string>{44,25}</string>
      </dict>
      <key>hero1021_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,255},{31,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,27}}</string>
        <key>sourceSize</key>
        <string>{31,27}</string>
      </dict>
      <key>hero1021_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,243},{34,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,26}}</string>
        <key>sourceSize</key>
        <string>{34,26}</string>
      </dict>
      <key>hero1021_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,240},{40,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,44}}</string>
        <key>sourceSize</key>
        <string>{40,44}</string>
      </dict>
      <key>hero1021_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,263},{106,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,89}}</string>
        <key>sourceSize</key>
        <string>{106,89}</string>
      </dict>
      <key>hero1021_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{352,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{352,14}}</string>
        <key>sourceSize</key>
        <string>{352,14}</string>
      </dict>
      <key>hero1021_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,212},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1021.png</string>
      <key>textureFileName</key>
      <string>hero1021.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>