<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1005_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,8},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>hero1005_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,17},{5,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,4}}</string>
        <key>sourceSize</key>
        <string>{5,4}</string>
      </dict>
      <key>hero1005_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,139},{9,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,9}}</string>
        <key>sourceSize</key>
        <string>{9,9}</string>
      </dict>
      <key>hero1005_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{502,0},{8,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,6}}</string>
        <key>sourceSize</key>
        <string>{8,6}</string>
      </dict>
      <key>hero1005_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,209},{111,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,111}}</string>
        <key>sourceSize</key>
        <string>{111,111}</string>
      </dict>
      <key>hero1005_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,139},{111,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,111}}</string>
        <key>sourceSize</key>
        <string>{111,111}</string>
      </dict>
      <key>hero1005_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,159},{111,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,111}}</string>
        <key>sourceSize</key>
        <string>{111,111}</string>
      </dict>
      <key>hero1005_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,96},{111,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,111}}</string>
        <key>sourceSize</key>
        <string>{111,111}</string>
      </dict>
      <key>hero1005_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,252},{111,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,111}}</string>
        <key>sourceSize</key>
        <string>{111,111}</string>
      </dict>
      <key>hero1005_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{157,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,157}}</string>
        <key>sourceSize</key>
        <string>{157,157}</string>
      </dict>
      <key>hero1005_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,134},{15,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,13}}</string>
        <key>sourceSize</key>
        <string>{15,13}</string>
      </dict>
      <key>hero1005_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,417},{111,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,28}}</string>
        <key>sourceSize</key>
        <string>{111,28}</string>
      </dict>
      <key>hero1005_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,397},{107,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,46}}</string>
        <key>sourceSize</key>
        <string>{107,46}</string>
      </dict>
      <key>hero1005_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{146,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,55}}</string>
        <key>sourceSize</key>
        <string>{146,55}</string>
      </dict>
      <key>hero1005_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{293,365},{152,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,50}}</string>
        <key>sourceSize</key>
        <string>{152,50}</string>
      </dict>
      <key>hero1005_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{170,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,74}}</string>
        <key>sourceSize</key>
        <string>{170,74}</string>
      </dict>
      <key>hero1005_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,76},{172,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,61}}</string>
        <key>sourceSize</key>
        <string>{172,61}</string>
      </dict>
      <key>hero1005_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,322},{186,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,73}}</string>
        <key>sourceSize</key>
        <string>{186,73}</string>
      </dict>
      <key>hero1005_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,0},{169,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{169,94}}</string>
        <key>sourceSize</key>
        <string>{169,94}</string>
      </dict>
      <key>hero1005_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{103,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,84}}</string>
        <key>sourceSize</key>
        <string>{103,84}</string>
      </dict>
      <key>hero1005_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,201},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>hero1005_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{485,250},{19,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,7}}</string>
        <key>sourceSize</key>
        <string>{19,7}</string>
      </dict>
      <key>hero1005_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,139},{49,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,60}}</string>
        <key>sourceSize</key>
        <string>{49,60}</string>
      </dict>
      <key>hero1005_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{252,234},{58,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,29}}</string>
        <key>sourceSize</key>
        <string>{58,29}</string>
      </dict>
      <key>hero1005_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,219},{19,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,23}}</string>
        <key>sourceSize</key>
        <string>{19,23}</string>
      </dict>
      <key>hero1005_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,244},{21,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,16}}</string>
        <key>sourceSize</key>
        <string>{21,16}</string>
      </dict>
      <key>hero1005_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,159},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>hero1005_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,115},{14,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,17}}</string>
        <key>sourceSize</key>
        <string>{14,17}</string>
      </dict>
      <key>hero1005_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{464,250},{19,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,13}}</string>
        <key>sourceSize</key>
        <string>{19,13}</string>
      </dict>
      <key>hero1005_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{313,96},{14,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,17}}</string>
        <key>sourceSize</key>
        <string>{14,17}</string>
      </dict>
      <key>hero1005_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,195},{24,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,22}}</string>
        <key>sourceSize</key>
        <string>{24,22}</string>
      </dict>
      <key>hero1005_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{443,250},{19,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,17}}</string>
        <key>sourceSize</key>
        <string>{19,17}</string>
      </dict>
      <key>hero1005_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,96},{39,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,93}}</string>
        <key>sourceSize</key>
        <string>{39,93}</string>
      </dict>
      <key>hero1005_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,191},{53,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,41}}</string>
        <key>sourceSize</key>
        <string>{53,41}</string>
      </dict>
      <key>hero1005_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,417},{125,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{125,16}}</string>
        <key>sourceSize</key>
        <string>{125,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1005.png</string>
      <key>textureFileName</key>
      <string>hero1005.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>