<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1009_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{318,170},{30,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,30}}</string>
        <key>sourceSize</key>
        <string>{30,30}</string>
      </dict>
      <key>hero1009_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,155},{26,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,41}}</string>
        <key>sourceSize</key>
        <string>{26,41}</string>
      </dict>
      <key>hero1009_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{411,155},{71,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,71}}</string>
        <key>sourceSize</key>
        <string>{71,71}</string>
      </dict>
      <key>hero1009_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{72,160},{63,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,64}}</string>
        <key>sourceSize</key>
        <string>{63,64}</string>
      </dict>
      <key>hero1009_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,170},{59,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,51}}</string>
        <key>sourceSize</key>
        <string>{59,51}</string>
      </dict>
      <key>hero1009_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,190},{52,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,47}}</string>
        <key>sourceSize</key>
        <string>{52,47}</string>
      </dict>
      <key>hero1009_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,75},{93,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{93,93}}</string>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>hero1009_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,21},{198,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,52}}</string>
        <key>sourceSize</key>
        <string>{198,52}</string>
      </dict>
      <key>hero1009_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{158,158}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{158,158}}</string>
        <key>sourceSize</key>
        <string>{158,158}</string>
      </dict>
      <key>hero1009_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,75},{65,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,78}}</string>
        <key>sourceSize</key>
        <string>{65,78}</string>
      </dict>
      <key>hero1009_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,200},{49,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,48}}</string>
        <key>sourceSize</key>
        <string>{49,48}</string>
      </dict>
      <key>hero1009_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,200},{45,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,45}}</string>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>hero1009_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{360,21},{59,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,84}}</string>
        <key>sourceSize</key>
        <string>{59,84}</string>
      </dict>
      <key>hero1009_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,107},{57,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,81}}</string>
        <key>sourceSize</key>
        <string>{57,81}</string>
      </dict>
      <key>hero1009_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,223},{32,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,26}}</string>
        <key>sourceSize</key>
        <string>{32,26}</string>
      </dict>
      <key>hero1009_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{424,0},{71,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,73}}</string>
        <key>sourceSize</key>
        <string>{71,73}</string>
      </dict>
      <key>hero1009_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{36,222},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>hero1009_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,222},{34,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,31}}</string>
        <key>sourceSize</key>
        <string>{34,31}</string>
      </dict>
      <key>hero1009_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,160},{70,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,60}}</string>
        <key>sourceSize</key>
        <string>{70,60}</string>
      </dict>
      <key>hero1009_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,75},{95,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,123}}</string>
        <key>sourceSize</key>
        <string>{95,123}</string>
      </dict>
      <key>hero1009_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,0},{262,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{262,19}}</string>
        <key>sourceSize</key>
        <string>{262,19}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1009.png</string>
      <key>textureFileName</key>
      <string>hero1009.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>