<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2005_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,60},{39,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,14}}</string>
        <key>sourceSize</key>
        <string>{39,14}</string>
      </dict>
      <key>hero2005_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,76},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>hero2005_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,60},{5,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,21}}</string>
        <key>sourceSize</key>
        <string>{5,21}</string>
      </dict>
      <key>hero2005_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{67,19},{43,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,39}}</string>
        <key>sourceSize</key>
        <string>{43,39}</string>
      </dict>
      <key>hero2005_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,0},{80,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,80}}</string>
        <key>sourceSize</key>
        <string>{80,80}</string>
      </dict>
      <key>hero2005_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,19},{47,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,67}}</string>
        <key>sourceSize</key>
        <string>{47,67}</string>
      </dict>
      <key>hero2005_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,19},{18,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,39}}</string>
        <key>sourceSize</key>
        <string>{18,39}</string>
      </dict>
      <key>hero2005_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{112,19},{35,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,42}}</string>
        <key>sourceSize</key>
        <string>{35,42}</string>
      </dict>
      <key>hero2005_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,63},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>hero2005_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,68},{11,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,5}}</string>
        <key>sourceSize</key>
        <string>{11,5}</string>
      </dict>
      <key>hero2005_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,60},{11,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,6}}</string>
        <key>sourceSize</key>
        <string>{11,6}</string>
      </dict>
      <key>hero2005_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,19},{16,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,83}}</string>
        <key>sourceSize</key>
        <string>{16,83}</string>
      </dict>
      <key>hero2005bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{141,63},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>hero2005_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{170,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{170,17}}</string>
        <key>sourceSize</key>
        <string>{170,17}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2005.png</string>
      <key>textureFileName</key>
      <string>hero2005.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>