<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3005_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,22},{132,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{132,28}}</string>
        <key>sourceSize</key>
        <string>{132,28}</string>
      </dict>
      <key>hero3005_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,84},{64,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,54}}</string>
        <key>sourceSize</key>
        <string>{64,54}</string>
      </dict>
      <key>hero3005_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,0},{83,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,83}}</string>
        <key>sourceSize</key>
        <string>{83,83}</string>
      </dict>
      <key>hero3005_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,85},{76,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{76,40}}</string>
        <key>sourceSize</key>
        <string>{76,40}</string>
      </dict>
      <key>hero3005_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{412,0},{82,82}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,82}}</string>
        <key>sourceSize</key>
        <string>{82,82}</string>
      </dict>
      <key>hero3005_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{131,133}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,133}}</string>
        <key>sourceSize</key>
        <string>{131,133}</string>
      </dict>
      <key>hero3005_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,52},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero3005_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{15,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,8}}</string>
        <key>sourceSize</key>
        <string>{15,8}</string>
      </dict>
      <key>hero3005_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,52},{48,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,77}}</string>
        <key>sourceSize</key>
        <string>{48,77}</string>
      </dict>
      <key>hero3005_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,52},{48,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,77}}</string>
        <key>sourceSize</key>
        <string>{48,77}</string>
      </dict>
      <key>hero3005_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,110},{23,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,29}}</string>
        <key>sourceSize</key>
        <string>{23,29}</string>
      </dict>
      <key>hero3005_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,84},{32,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,27}}</string>
        <key>sourceSize</key>
        <string>{32,27}</string>
      </dict>
      <key>hero3005_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{266,97},{53,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,30}}</string>
        <key>sourceSize</key>
        <string>{53,30}</string>
      </dict>
      <key>hero3005_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,131},{36,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,44}}</string>
        <key>sourceSize</key>
        <string>{36,44}</string>
      </dict>
      <key>hero3005_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,129},{36,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,44}}</string>
        <key>sourceSize</key>
        <string>{36,44}</string>
      </dict>
      <key>hero3005_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{385,127},{25,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,18}}</string>
        <key>sourceSize</key>
        <string>{25,18}</string>
      </dict>
      <key>hero3005_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,127},{62,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,38}}</string>
        <key>sourceSize</key>
        <string>{62,38}</string>
      </dict>
      <key>hero3005_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{478,113},{20,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,24}}</string>
        <key>sourceSize</key>
        <string>{20,24}</string>
      </dict>
      <key>hero3005_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,131},{15,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,17}}</string>
        <key>sourceSize</key>
        <string>{15,17}</string>
      </dict>
      <key>hero3005_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{171,131},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>hero3005_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,131},{15,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,17}}</string>
        <key>sourceSize</key>
        <string>{15,17}</string>
      </dict>
      <key>hero3005_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,86},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>hero3005_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{267,22},{52,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,73}}</string>
        <key>sourceSize</key>
        <string>{52,73}</string>
      </dict>
      <key>hero3005_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{296,129},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>hero3005_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,0},{192,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,20}}</string>
        <key>sourceSize</key>
        <string>{192,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero3005.png</string>
      <key>textureFileName</key>
      <string>hero3005.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>