<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2003_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,68},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>hero2003_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{191,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{191,44}}</string>
        <key>sourceSize</key>
        <string>{191,44}</string>
      </dict>
      <key>hero2003_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,163}}</string>
        <key>sourceSize</key>
        <string>{163,163}</string>
      </dict>
      <key>hero2003_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,68},{101,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,52}}</string>
        <key>sourceSize</key>
        <string>{101,52}</string>
      </dict>
      <key>hero2003_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{358,0},{130,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{130,97}}</string>
        <key>sourceSize</key>
        <string>{130,97}</string>
      </dict>
      <key>hero2003_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,165},{66,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,21}}</string>
        <key>sourceSize</key>
        <string>{66,21}</string>
      </dict>
      <key>hero2003_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,16},{8,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,21}}</string>
        <key>sourceSize</key>
        <string>{8,21}</string>
      </dict>
      <key>hero2003bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,16},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero2003_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{486,99},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>hero2003_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,122},{65,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>hero2003_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{352,99},{65,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>hero2003_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,99},{65,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,74}}</string>
        <key>sourceSize</key>
        <string>{65,74}</string>
      </dict>
      <key>hero2003_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,165},{27,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,14}}</string>
        <key>sourceSize</key>
        <string>{27,14}</string>
      </dict>
      <key>hero2003_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,46},{10,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,8}}</string>
        <key>sourceSize</key>
        <string>{10,8}</string>
      </dict>
      <key>hero2003_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{68,165},{26,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,36}}</string>
        <key>sourceSize</key>
        <string>{26,36}</string>
      </dict>
      <key>hero2003_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,70},{13,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,11}}</string>
        <key>sourceSize</key>
        <string>{13,11}</string>
      </dict>
      <key>hero2003_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{344,46},{12,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,11}}</string>
        <key>sourceSize</key>
        <string>{12,11}</string>
      </dict>
      <key>hero2003_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,56},{14,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,12}}</string>
        <key>sourceSize</key>
        <string>{14,12}</string>
      </dict>
      <key>hero2003_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,165},{29,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,23}}</string>
        <key>sourceSize</key>
        <string>{29,23}</string>
      </dict>
      <key>hero2003_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,159},{55,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,44}}</string>
        <key>sourceSize</key>
        <string>{55,44}</string>
      </dict>
      <key>hero2003_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{490,0},{18,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,14}}</string>
        <key>sourceSize</key>
        <string>{18,14}</string>
      </dict>
      <key>hero2003_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{500,16},{1,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,28}}</string>
        <key>sourceSize</key>
        <string>{1,28}</string>
      </dict>
      <key>hero2003_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,16},{1,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,28}}</string>
        <key>sourceSize</key>
        <string>{1,28}</string>
      </dict>
      <key>hero2003_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,122},{30,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,74}}</string>
        <key>sourceSize</key>
        <string>{30,74}</string>
      </dict>
      <key>hero2003_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,46},{177,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,20}}</string>
        <key>sourceSize</key>
        <string>{177,20}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2003.png</string>
      <key>textureFileName</key>
      <string>hero2003.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>