<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1013_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{301,100},{15,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,13}}</string>
        <key>sourceSize</key>
        <string>{15,13}</string>
      </dict>
      <key>hero1013_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{285,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{285,59}}</string>
        <key>sourceSize</key>
        <string>{285,59}</string>
      </dict>
      <key>hero1013_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{92,61},{91,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,53}}</string>
        <key>sourceSize</key>
        <string>{91,53}</string>
      </dict>
      <key>hero1013_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,21},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero1013_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{366,21},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero1013_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,72},{42,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,20}}</string>
        <key>sourceSize</key>
        <string>{42,20}</string>
      </dict>
      <key>hero1013_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,61},{90,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,59}}</string>
        <key>sourceSize</key>
        <string>{90,59}</string>
      </dict>
      <key>hero1013_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{247,61},{27,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,43}}</string>
        <key>sourceSize</key>
        <string>{27,43}</string>
      </dict>
      <key>hero1013_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,94},{27,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,30}}</string>
        <key>sourceSize</key>
        <string>{27,30}</string>
      </dict>
      <key>hero1013_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{276,100},{23,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,22}}</string>
        <key>sourceSize</key>
        <string>{23,22}</string>
      </dict>
      <key>hero1013_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,41},{42,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,29}}</string>
        <key>sourceSize</key>
        <string>{42,29}</string>
      </dict>
      <key>hero1013_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{445,21},{13,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,20}}</string>
        <key>sourceSize</key>
        <string>{13,20}</string>
      </dict>
      <key>hero1013_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,0},{37,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,39}}</string>
        <key>sourceSize</key>
        <string>{37,39}</string>
      </dict>
      <key>hero1013_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,61},{60,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,39}}</string>
        <key>sourceSize</key>
        <string>{60,39}</string>
      </dict>
      <key>hero1013_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,72},{20,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,19}}</string>
        <key>sourceSize</key>
        <string>{20,19}</string>
      </dict>
      <key>hero1013_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{489,93},{17,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,19}}</string>
        <key>sourceSize</key>
        <string>{17,19}</string>
      </dict>
      <key>hero1013_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,0},{174,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,19}}</string>
        <key>sourceSize</key>
        <string>{174,19}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1013.png</string>
      <key>textureFileName</key>
      <string>hero1013.png</string>
      <key>size</key>
      <string>{512,128}</string>
    </dict>
  </dict>
</plist>