<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2016_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,83},{32,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,26}}</string>
        <key>sourceSize</key>
        <string>{32,26}</string>
      </dict>
      <key>hero2016_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,44},{57,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,35}}</string>
        <key>sourceSize</key>
        <string>{57,35}</string>
      </dict>
      <key>hero2016_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,9},{58,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,35}}</string>
        <key>sourceSize</key>
        <string>{58,35}</string>
      </dict>
      <key>hero2016_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,9},{57,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,35}}</string>
        <key>sourceSize</key>
        <string>{57,35}</string>
      </dict>
      <key>hero2016_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,46},{56,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,35}}</string>
        <key>sourceSize</key>
        <string>{56,35}</string>
      </dict>
      <key>hero2016_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,46},{53,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,32}}</string>
        <key>sourceSize</key>
        <string>{53,32}</string>
      </dict>
      <key>hero2016_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{58,80},{48,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,30}}</string>
        <key>sourceSize</key>
        <string>{48,30}</string>
      </dict>
      <key>hero2016_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{169,0},{63,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,42}}</string>
        <key>sourceSize</key>
        <string>{63,42}</string>
      </dict>
      <key>hero2016_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{157,81},{37,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,37}}</string>
        <key>sourceSize</key>
        <string>{37,37}</string>
      </dict>
      <key>hero2016_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{119,9},{43,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,47}}</string>
        <key>sourceSize</key>
        <string>{43,47}</string>
      </dict>
      <key>hero2016_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{230,50},{21,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,34}}</string>
        <key>sourceSize</key>
        <string>{21,34}</string>
      </dict>
      <key>hero2016_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,58},{42,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,37}}</string>
        <key>sourceSize</key>
        <string>{42,37}</string>
      </dict>
      <key>hero2016_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,81},{27,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,34}}</string>
        <key>sourceSize</key>
        <string>{27,34}</string>
      </dict>
      <key>hero2016_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{34,83},{15,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,13}}</string>
        <key>sourceSize</key>
        <string>{15,13}</string>
      </dict>
      <key>hero2016_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{234,0},{20,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,48}}</string>
        <key>sourceSize</key>
        <string>{20,48}</string>
      </dict>
      <key>hero2016_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{241,86},{12,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,5}}</string>
        <key>sourceSize</key>
        <string>{12,5}</string>
      </dict>
      <key>hero2016_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,86},{14,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,5}}</string>
        <key>sourceSize</key>
        <string>{14,5}</string>
      </dict>
      <key>hero2016bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{223,44},{5,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,5}}</string>
        <key>sourceSize</key>
        <string>{5,5}</string>
      </dict>
      <key>hero2016_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{167,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{167,7}}</string>
        <key>sourceSize</key>
        <string>{167,7}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2016.png</string>
      <key>textureFileName</key>
      <string>hero2016.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>