<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1016_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,156},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>hero1016_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{26,153},{19,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,22}}</string>
        <key>sourceSize</key>
        <string>{19,22}</string>
      </dict>
      <key>hero1016_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,53},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>hero1016_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,37},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
      <key>hero1016_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,113},{51,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,54}}</string>
        <key>sourceSize</key>
        <string>{51,54}</string>
      </dict>
      <key>hero1016_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,37},{81,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,83}}</string>
        <key>sourceSize</key>
        <string>{81,83}</string>
      </dict>
      <key>hero1016_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{101,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,97}}</string>
        <key>sourceSize</key>
        <string>{101,97}</string>
      </dict>
      <key>hero1016_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,122},{50,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,32}}</string>
        <key>sourceSize</key>
        <string>{50,32}</string>
      </dict>
      <key>hero1016_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{123,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,32}}</string>
        <key>sourceSize</key>
        <string>{123,32}</string>
      </dict>
      <key>hero1016_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{103,0},{148,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{148,35}}</string>
        <key>sourceSize</key>
        <string>{148,35}</string>
      </dict>
      <key>hero1016_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,133},{28,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,21}}</string>
        <key>sourceSize</key>
        <string>{28,21}</string>
      </dict>
      <key>hero1016_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,99},{59,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,52}}</string>
        <key>sourceSize</key>
        <string>{59,52}</string>
      </dict>
      <key>hero1016_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,122},{34,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,24}}</string>
        <key>sourceSize</key>
        <string>{34,24}</string>
      </dict>
      <key>hero1016_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,99},{32,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,32}}</string>
        <key>sourceSize</key>
        <string>{32,32}</string>
      </dict>
      <key>hero1016_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{111,156},{19,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,18}}</string>
        <key>sourceSize</key>
        <string>{19,18}</string>
      </dict>
      <key>hero1016_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{47,156},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>hero1016_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,148},{25,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,24}}</string>
        <key>sourceSize</key>
        <string>{25,24}</string>
      </dict>
      <key>hero1016_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,153},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>hero1016_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{90,156},{19,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,21}}</string>
        <key>sourceSize</key>
        <string>{19,21}</string>
      </dict>
      <key>hero1016_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,169},{19,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,12}}</string>
        <key>sourceSize</key>
        <string>{19,12}</string>
      </dict>
      <key>hero1016_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,37},{51,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,74}}</string>
        <key>sourceSize</key>
        <string>{51,74}</string>
      </dict>
      <key>hero1016_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,179},{151,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,9}}</string>
        <key>sourceSize</key>
        <string>{151,9}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1016.png</string>
      <key>textureFileName</key>
      <string>hero1016.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>