<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1017_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{162,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{162,42}}</string>
        <key>sourceSize</key>
        <string>{162,42}</string>
      </dict>
      <key>hero1017_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,44},{161,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{161,42}}</string>
        <key>sourceSize</key>
        <string>{161,42}</string>
      </dict>
      <key>hero1017_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{160,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{160,42}}</string>
        <key>sourceSize</key>
        <string>{160,42}</string>
      </dict>
      <key>hero1017_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,132},{151,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{151,39}}</string>
        <key>sourceSize</key>
        <string>{151,39}</string>
      </dict>
      <key>hero1017_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{134,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,35}}</string>
        <key>sourceSize</key>
        <string>{134,35}</string>
      </dict>
      <key>hero1017_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,180},{55,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,15}}</string>
        <key>sourceSize</key>
        <string>{55,15}</string>
      </dict>
      <key>hero1017_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,0},{39,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,53}}</string>
        <key>sourceSize</key>
        <string>{39,53}</string>
      </dict>
      <key>hero1017_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,55},{36,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,56}}</string>
        <key>sourceSize</key>
        <string>{36,56}</string>
      </dict>
      <key>hero1017_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{163,69},{42,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,33}}</string>
        <key>sourceSize</key>
        <string>{42,33}</string>
      </dict>
      <key>hero1017_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,197},{48,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,21}}</string>
        <key>sourceSize</key>
        <string>{48,21}</string>
      </dict>
      <key>hero1017_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,69},{5,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,10}}</string>
        <key>sourceSize</key>
        <string>{5,10}</string>
      </dict>
      <key>hero1017_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,178},{16,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,13}}</string>
        <key>sourceSize</key>
        <string>{16,13}</string>
      </dict>
      <key>hero1017_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,154},{18,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,13}}</string>
        <key>sourceSize</key>
        <string>{18,13}</string>
      </dict>
      <key>hero1017_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,136},{19,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,24}}</string>
        <key>sourceSize</key>
        <string>{19,24}</string>
      </dict>
      <key>hero1017_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,142},{52,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,36}}</string>
        <key>sourceSize</key>
        <string>{52,36}</string>
      </dict>
      <key>hero1017_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,104},{50,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,36}}</string>
        <key>sourceSize</key>
        <string>{50,36}</string>
      </dict>
      <key>hero1017_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{214,113},{28,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,21}}</string>
        <key>sourceSize</key>
        <string>{28,21}</string>
      </dict>
      <key>hero1017_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,183},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>hero1017_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,173},{12,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,13}}</string>
        <key>sourceSize</key>
        <string>{12,13}</string>
      </dict>
      <key>hero1017_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,162},{16,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,14}}</string>
        <key>sourceSize</key>
        <string>{16,14}</string>
      </dict>
      <key>hero1017_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,169},{17,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,12}}</string>
        <key>sourceSize</key>
        <string>{17,12}</string>
      </dict>
      <key>hero1017_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,136},{18,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,16}}</string>
        <key>sourceSize</key>
        <string>{18,16}</string>
      </dict>
      <key>hero1017_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{164,0},{48,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,67}}</string>
        <key>sourceSize</key>
        <string>{48,67}</string>
      </dict>
      <key>hero1017_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,220},{165,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,16}}</string>
        <key>sourceSize</key>
        <string>{165,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1017.png</string>
      <key>textureFileName</key>
      <string>hero1017.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>