<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3004_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,61},{30,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,49}}</string>
        <key>sourceSize</key>
        <string>{30,49}</string>
      </dict>
      <key>hero3004_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,124},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero3004_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{111,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,138}}</string>
        <key>sourceSize</key>
        <string>{111,138}</string>
      </dict>
      <key>hero3004_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{113,0},{100,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,122}}</string>
        <key>sourceSize</key>
        <string>{100,122}</string>
      </dict>
      <key>hero3004_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,124},{21,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,42}}</string>
        <key>sourceSize</key>
        <string>{21,42}</string>
      </dict>
      <key>hero3004_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{55,158},{42,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,41}}</string>
        <key>sourceSize</key>
        <string>{42,41}</string>
      </dict>
      <key>hero3004_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,168},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>hero3004_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,158},{53,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,52}}</string>
        <key>sourceSize</key>
        <string>{53,52}</string>
      </dict>
      <key>hero3004_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,174},{13,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,22}}</string>
        <key>sourceSize</key>
        <string>{13,22}</string>
      </dict>
      <key>hero3004_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,190},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>hero3004_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{213,150},{41,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,22}}</string>
        <key>sourceSize</key>
        <string>{41,22}</string>
      </dict>
      <key>hero3004_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,137},{9,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,12}}</string>
        <key>sourceSize</key>
        <string>{9,12}</string>
      </dict>
      <key>hero3004_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,158},{12,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,14}}</string>
        <key>sourceSize</key>
        <string>{12,14}</string>
      </dict>
      <key>hero3004_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,112},{35,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,36}}</string>
        <key>sourceSize</key>
        <string>{35,36}</string>
      </dict>
      <key>hero3004_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,124},{10,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,11}}</string>
        <key>sourceSize</key>
        <string>{10,11}</string>
      </dict>
      <key>hero3004_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,190},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>hero3004_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{120,190},{18,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,12}}</string>
        <key>sourceSize</key>
        <string>{18,12}</string>
      </dict>
      <key>hero3004_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,0},{35,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,59}}</string>
        <key>sourceSize</key>
        <string>{35,59}</string>
      </dict>
      <key>hero3004_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{206,174},{28,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,19}}</string>
        <key>sourceSize</key>
        <string>{28,19}</string>
      </dict>
      <key>hero3004_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,140},{100,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,16}}</string>
        <key>sourceSize</key>
        <string>{100,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero3004.png</string>
      <key>textureFileName</key>
      <string>hero3004.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>