<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2013_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,0},{0,0}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{0,0}}</string>
        <key>sourceSize</key>
        <string>{0,0}</string>
      </dict>
      <key>hero2013_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,72},{51,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,13}}</string>
        <key>sourceSize</key>
        <string>{51,13}</string>
      </dict>
      <key>hero2013_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{51,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,13}}</string>
        <key>sourceSize</key>
        <string>{51,13}</string>
      </dict>
      <key>hero2013_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,74},{50,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,13}}</string>
        <key>sourceSize</key>
        <string>{50,13}</string>
      </dict>
      <key>hero2013_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,80},{48,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,12}}</string>
        <key>sourceSize</key>
        <string>{48,12}</string>
      </dict>
      <key>hero2013_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,61},{42,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,11}}</string>
        <key>sourceSize</key>
        <string>{42,11}</string>
      </dict>
      <key>hero2013_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{71,19},{57,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,15}}</string>
        <key>sourceSize</key>
        <string>{57,15}</string>
      </dict>
      <key>hero2013_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,44},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero2013_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,19},{69,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,11}}</string>
        <key>sourceSize</key>
        <string>{69,11}</string>
      </dict>
      <key>hero2013_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,32},{1,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{1,27}}</string>
        <key>sourceSize</key>
        <string>{1,27}</string>
      </dict>
      <key>hero2013_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,52},{16,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,12}}</string>
        <key>sourceSize</key>
        <string>{16,12}</string>
      </dict>
      <key>hero2013_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,32},{26,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,8}}</string>
        <key>sourceSize</key>
        <string>{26,8}</string>
      </dict>
      <key>hero2013_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,19},{20,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,18}}</string>
        <key>sourceSize</key>
        <string>{20,18}</string>
      </dict>
      <key>hero2013_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{124,36},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero2013_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,66},{32,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,12}}</string>
        <key>sourceSize</key>
        <string>{32,12}</string>
      </dict>
      <key>hero2013_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,0},{48,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,42}}</string>
        <key>sourceSize</key>
        <string>{48,42}</string>
      </dict>
      <key>hero2013_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{69,36},{35,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,34}}</string>
        <key>sourceSize</key>
        <string>{35,34}</string>
      </dict>
      <key>hero2013_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{183,44},{14,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,15}}</string>
        <key>sourceSize</key>
        <string>{14,15}</string>
      </dict>
      <key>hero2013_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{106,36},{16,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,14}}</string>
        <key>sourceSize</key>
        <string>{16,14}</string>
      </dict>
      <key>hero2013_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,32},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>hero2013_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,39},{15,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,15}}</string>
        <key>sourceSize</key>
        <string>{15,15}</string>
      </dict>
      <key>hero2013_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,55},{18,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,9}}</string>
        <key>sourceSize</key>
        <string>{18,9}</string>
      </dict>
      <key>hero2013_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,42},{18,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,11}}</string>
        <key>sourceSize</key>
        <string>{18,11}</string>
      </dict>
      <key>hero2013_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{24,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,59}}</string>
        <key>sourceSize</key>
        <string>{24,59}</string>
      </dict>
      <key>hero2013_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,0},{24,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,59}}</string>
        <key>sourceSize</key>
        <string>{24,59}</string>
      </dict>
      <key>hero2013_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{150,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{150,17}}</string>
        <key>sourceSize</key>
        <string>{150,17}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2013.png</string>
      <key>textureFileName</key>
      <string>hero2013.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>