<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2002_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,21},{75,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>hero2002_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{146,176}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,176}}</string>
        <key>sourceSize</key>
        <string>{146,176}</string>
      </dict>
      <key>hero2002_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{369,21},{75,75}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,75}}</string>
        <key>sourceSize</key>
        <string>{75,75}</string>
      </dict>
      <key>hero2002_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,0},{142,144}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,144}}</string>
        <key>sourceSize</key>
        <string>{142,144}</string>
      </dict>
      <key>hero2002_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,98},{69,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,70}}</string>
        <key>sourceSize</key>
        <string>{69,70}</string>
      </dict>
      <key>hero2002_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,165},{57,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,51}}</string>
        <key>sourceSize</key>
        <string>{57,51}</string>
      </dict>
      <key>hero2002bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{506,0},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>hero2002_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,146},{50,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>hero2002_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,164},{50,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,64}}</string>
        <key>sourceSize</key>
        <string>{50,64}</string>
      </dict>
      <key>hero2002_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{264,170},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>hero2002_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{468,38},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero2002_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,45},{19,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,20}}</string>
        <key>sourceSize</key>
        <string>{19,20}</string>
      </dict>
      <key>hero2002_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,178},{34,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,6}}</string>
        <key>sourceSize</key>
        <string>{34,6}</string>
      </dict>
      <key>hero2002_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,178},{55,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,41}}</string>
        <key>sourceSize</key>
        <string>{55,41}</string>
      </dict>
      <key>hero2002_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,38},{13,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,22}}</string>
        <key>sourceSize</key>
        <string>{13,22}</string>
      </dict>
      <key>hero2002_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{321,170},{33,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,12}}</string>
        <key>sourceSize</key>
        <string>{33,12}</string>
      </dict>
      <key>hero2002_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{494,62},{15,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,17}}</string>
        <key>sourceSize</key>
        <string>{15,17}</string>
      </dict>
      <key>hero2002_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{467,64},{15,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,17}}</string>
        <key>sourceSize</key>
        <string>{15,17}</string>
      </dict>
      <key>hero2002_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{34,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,36}}</string>
        <key>sourceSize</key>
        <string>{34,36}</string>
      </dict>
      <key>hero2002_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,21},{20,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,22}}</string>
        <key>sourceSize</key>
        <string>{20,22}</string>
      </dict>
      <key>hero2002_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{363,98},{65,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,65}}</string>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>hero2002_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,83},{43,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,79}}</string>
        <key>sourceSize</key>
        <string>{43,79}</string>
      </dict>
      <key>hero2002_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,146},{62,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,54}}</string>
        <key>sourceSize</key>
        <string>{62,54}</string>
      </dict>
      <key>hero2002_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,0},{176,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,19}}</string>
        <key>sourceSize</key>
        <string>{176,19}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2002.png</string>
      <key>textureFileName</key>
      <string>hero2002.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>