<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2001_118.png</key>
      <dict>
        <key>frame</key>
        <string>{{1090,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_117.png</key>
      <dict>
        <key>frame</key>
        <string>{{1398,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_112.png</key>
      <dict>
        <key>frame</key>
        <string>{{1244,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_111.png</key>
      <dict>
        <key>frame</key>
        <string>{{782,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_110.png</key>
      <dict>
        <key>frame</key>
        <string>{{1552,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_109.png</key>
      <dict>
        <key>frame</key>
        <string>{{474,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_108.png</key>
      <dict>
        <key>frame</key>
        <string>{{1706,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_107.png</key>
      <dict>
        <key>frame</key>
        <string>{{628,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{936,0},{152,300}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,300}}</string>
        <key>sourceSize</key>
        <string>{152,300}</string>
      </dict>
      <key>hero2001_093.png</key>
      <dict>
        <key>frame</key>
        <string>{{203,856},{105,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{105,25}}</string>
        <key>sourceSize</key>
        <string>{105,25}</string>
      </dict>
      <key>hero2001_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,585},{255,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{255,8}}</string>
        <key>sourceSize</key>
        <string>{255,8}</string>
      </dict>
      <key>hero2001_116.png</key>
      <dict>
        <key>frame</key>
        <string>{{1899,868},{64,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,22}}</string>
        <key>sourceSize</key>
        <string>{64,22}</string>
      </dict>
      <key>hero2001_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,148},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>hero2001_099.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,31},{30,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,29}}</string>
        <key>sourceSize</key>
        <string>{30,29}</string>
      </dict>
      <key>hero2001_098.png</key>
      <dict>
        <key>frame</key>
        <string>{{1832,841},{65,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,27}}</string>
        <key>sourceSize</key>
        <string>{65,27}</string>
      </dict>
      <key>hero2001_096.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,800},{65,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,70}}</string>
        <key>sourceSize</key>
        <string>{65,70}</string>
      </dict>
      <key>hero2001_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,221},{23,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,21}}</string>
        <key>sourceSize</key>
        <string>{23,21}</string>
      </dict>
      <key>hero2001_097.png</key>
      <dict>
        <key>frame</key>
        <string>{{1713,841},{117,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,56}}</string>
        <key>sourceSize</key>
        <string>{117,56}</string>
      </dict>
      <key>hero2001_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{2027,244},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>hero2001_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{1141,562},{77,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,116}}</string>
        <key>sourceSize</key>
        <string>{77,116}</string>
      </dict>
      <key>hero2001_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,88},{21,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,28}}</string>
        <key>sourceSize</key>
        <string>{21,28}</string>
      </dict>
      <key>hero2001_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,261},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>hero2001_128.png</key>
      <dict>
        <key>frame</key>
        <string>{{1823,342},{195,175}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,175}}</string>
        <key>sourceSize</key>
        <string>{195,175}</string>
      </dict>
      <key>hero2001_126.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,251},{217,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{217,195}}</string>
        <key>sourceSize</key>
        <string>{217,195}</string>
      </dict>
      <key>hero2001_124.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,261},{197,199}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,199}}</string>
        <key>sourceSize</key>
        <string>{197,199}</string>
      </dict>
      <key>hero2001_127.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,403},{235,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,157}}</string>
        <key>sourceSize</key>
        <string>{235,157}</string>
      </dict>
      <key>hero2001_123.png</key>
      <dict>
        <key>frame</key>
        <string>{{199,448},{197,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,135}}</string>
        <key>sourceSize</key>
        <string>{197,135}</string>
      </dict>
      <key>hero2001_122.png</key>
      <dict>
        <key>frame</key>
        <string>{{1860,0},{146,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,138}}</string>
        <key>sourceSize</key>
        <string>{146,138}</string>
      </dict>
      <key>hero2001_121.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,0},{233,249}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{233,249}}</string>
        <key>sourceSize</key>
        <string>{233,249}</string>
      </dict>
      <key>hero2001_120.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{237,259}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{237,259}}</string>
        <key>sourceSize</key>
        <string>{237,259}</string>
      </dict>
      <key>hero2001_115.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,62},{25,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,24}}</string>
        <key>sourceSize</key>
        <string>{25,24}</string>
      </dict>
      <key>hero2001_119.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,403},{101,127}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{101,127}}</string>
        <key>sourceSize</key>
        <string>{101,127}</string>
      </dict>
      <key>hero2001_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,403},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{1529,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{458,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{899,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{1860,241},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{1860,140},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{1382,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{605,403},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{1088,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{1676,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{752,302},{145,99}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,99}}</string>
        <key>sourceSize</key>
        <string>{145,99}</string>
      </dict>
      <key>hero2001_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{646,800},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{1612,810},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{1511,810},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{1309,810},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,796},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{831,774},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,711},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,658},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{1935,636},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{286,595},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,826},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{1208,774},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{1410,810},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{1913,752},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,826},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,680},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{737,532},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{1083,798},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{834,658},{99,114}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,114}}</string>
        <key>sourceSize</key>
        <string>{99,114}</string>
      </dict>
      <key>hero2001_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,832},{100,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,89}}</string>
        <key>sourceSize</key>
        <string>{100,89}</string>
      </dict>
      <key>hero2001_071.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,403},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_070.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,595},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_069.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,510},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_068.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,403},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_067.png</key>
      <dict>
        <key>frame</key>
        <string>{{998,562},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_066.png</key>
      <dict>
        <key>frame</key>
        <string>{{1664,403},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_065.png</key>
      <dict>
        <key>frame</key>
        <string>{{400,589},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_064.png</key>
      <dict>
        <key>frame</key>
        <string>{{1220,573},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_063.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,488},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_062.png</key>
      <dict>
        <key>frame</key>
        <string>{{1792,604},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_061.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,504},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_060.png</key>
      <dict>
        <key>frame</key>
        <string>{{1506,573},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_059.png</key>
      <dict>
        <key>frame</key>
        <string>{{1664,488},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_058.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,403},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_057.png</key>
      <dict>
        <key>frame</key>
        <string>{{1521,403},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_056.png</key>
      <dict>
        <key>frame</key>
        <string>{{855,488},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_055.png</key>
      <dict>
        <key>frame</key>
        <string>{{1378,488},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_054.png</key>
      <dict>
        <key>frame</key>
        <string>{{594,504},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_053.png</key>
      <dict>
        <key>frame</key>
        <string>{{1235,488},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_052.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,595},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_051.png</key>
      <dict>
        <key>frame</key>
        <string>{{543,589},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_050.png</key>
      <dict>
        <key>frame</key>
        <string>{{1649,573},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{1363,573},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{838,573},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{1807,519},{141,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,83}}</string>
        <key>sourceSize</key>
        <string>{141,83}</string>
      </dict>
      <key>hero2001_091.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,658},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_090.png</key>
      <dict>
        <key>frame</key>
        <string>{{932,799},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_089.png</key>
      <dict>
        <key>frame</key>
        <string>{{1617,658},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_088.png</key>
      <dict>
        <key>frame</key>
        <string>{{981,647},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_087.png</key>
      <dict>
        <key>frame</key>
        <string>{{535,674},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_086.png</key>
      <dict>
        <key>frame</key>
        <string>{{1765,765},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_085.png</key>
      <dict>
        <key>frame</key>
        <string>{{1765,689},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_084.png</key>
      <dict>
        <key>frame</key>
        <string>{{350,750},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_083.png</key>
      <dict>
        <key>frame</key>
        <string>{{683,724},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_082.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,756},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_081.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,734},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_080.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,750},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_079.png</key>
      <dict>
        <key>frame</key>
        <string>{{1617,734},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_078.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,734},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_077.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,723},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_076.png</key>
      <dict>
        <key>frame</key>
        <string>{{101,680},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_075.png</key>
      <dict>
        <key>frame</key>
        <string>{{387,674},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_074.png</key>
      <dict>
        <key>frame</key>
        <string>{{1469,658},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_073.png</key>
      <dict>
        <key>frame</key>
        <string>{{686,648},{146,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,74}}</string>
        <key>sourceSize</key>
        <string>{146,74}</string>
      </dict>
      <key>hero2001_072.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,462},{197,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{197,46}}</string>
        <key>sourceSize</key>
        <string>{197,46}</string>
      </dict>
      <key>hero2001_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,173},{24,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,23}}</string>
        <key>sourceSize</key>
        <string>{24,23}</string>
      </dict>
      <key>hero2001_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,0},{30,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,29}}</string>
        <key>sourceSize</key>
        <string>{30,29}</string>
      </dict>
      <key>hero2001_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{1046,302},{40,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,45}}</string>
        <key>sourceSize</key>
        <string>{40,45}</string>
      </dict>
      <key>hero2001_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,827},{65,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,27}}</string>
        <key>sourceSize</key>
        <string>{65,27}</string>
      </dict>
      <key>hero2001_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{398,448},{51,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,55}}</string>
        <key>sourceSize</key>
        <string>{51,55}</string>
      </dict>
      <key>hero2001_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,198},{23,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,21}}</string>
        <key>sourceSize</key>
        <string>{23,21}</string>
      </dict>
      <key>hero2001_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{552,826},{63,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,48}}</string>
        <key>sourceSize</key>
        <string>{63,48}</string>
      </dict>
      <key>hero2001_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2007,244},{18,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,25}}</string>
        <key>sourceSize</key>
        <string>{18,25}</string>
      </dict>
      <key>hero2001_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{1129,680},{77,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,116}}</string>
        <key>sourceSize</key>
        <string>{77,116}</string>
      </dict>
      <key>hero2001_129.png</key>
      <dict>
        <key>frame</key>
        <string>{{1950,519},{92,115}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,115}}</string>
        <key>sourceSize</key>
        <string>{92,115}</string>
      </dict>
      <key>hero2001_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{2008,118},{21,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,28}}</string>
        <key>sourceSize</key>
        <string>{21,28}</string>
      </dict>
      <key>hero2001_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{219,261},{18,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,24}}</string>
        <key>sourceSize</key>
        <string>{18,24}</string>
      </dict>
      <key>hero2001_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,914},{400,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{400,16}}</string>
        <key>sourceSize</key>
        <string>{400,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2001.png</string>
      <key>textureFileName</key>
      <string>hero2001.png</string>
      <key>size</key>
      <string>{2048,1024}</string>
    </dict>
  </dict>
</plist>