<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1014_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{40,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,32}</string>
            </dict>
            <key>hero1014_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,344},{29,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,11}}</string>
                <key>sourceSize</key>
                <string>{29,11}</string>
            </dict>
            <key>hero1014_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,406},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>hero1014_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,472},{40,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,30}}</string>
                <key>sourceSize</key>
                <string>{40,30}</string>
            </dict>
            <key>hero1014_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,473},{43,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,35}}</string>
                <key>sourceSize</key>
                <string>{43,35}</string>
            </dict>
            <key>hero1014_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,468},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>hero1014_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,385},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>hero1014_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,445},{23,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>hero1014_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,468},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>hero1014_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,356},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>hero1014_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,252},{71,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,90}}</string>
                <key>sourceSize</key>
                <string>{71,90}</string>
            </dict>
            <key>hero1014_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{116,151}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{116,151}}</string>
                <key>sourceSize</key>
                <string>{118,151}</string>
            </dict>
            <key>hero1014_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,195},{14,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,7}}</string>
                <key>sourceSize</key>
                <string>{14,7}</string>
            </dict>
            <key>hero1014_014.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,162},{14,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,7}}</string>
                <key>sourceSize</key>
                <string>{14,7}</string>
            </dict>
            <key>hero1014_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,192},{111,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,0},{111,23}}</string>
                <key>sourceSize</key>
                <string>{255,23}</string>
            </dict>
            <key>hero1014_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,217},{67,104}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{67,104}}</string>
                <key>sourceSize</key>
                <string>{85,120}</string>
            </dict>
            <key>hero1014_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,286},{49,51}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{49,51}}</string>
                <key>sourceSize</key>
                <string>{71,69}</string>
            </dict>
            <key>hero1014_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,406},{65,57}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,7},{65,57}}</string>
                <key>sourceSize</key>
                <string>{83,75}</string>
            </dict>
            <key>hero1014_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,473},{35,17}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{35,17}}</string>
                <key>sourceSize</key>
                <string>{47,29}</string>
            </dict>
            <key>hero1014_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,98},{92,93}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{92,93}}</string>
                <key>sourceSize</key>
                <string>{106,107}</string>
            </dict>
            <key>hero1014_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,344},{67,60}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{67,60}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>hero1014_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,195},{72,55}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{72,55}}</string>
                <key>sourceSize</key>
                <string>{86,79}</string>
            </dict>
            <key>hero1014_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,406},{58,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{72,74}</string>
            </dict>
            <key>hero1014_024.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,445},{55,49}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{55,49}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>hero1014_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,356},{51,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{51,50}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>hero1014_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,385},{58,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{58,55}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
            <key>hero1014_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,385},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>hero1014_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,385},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>hero1014_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>hero1014_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,356},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>hero1014_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,356},{27,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,23}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>hero1014_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{200,104}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{200,104}}</string>
                <key>sourceSize</key>
                <string>{212,104}</string>
            </dict>
            <key>hero1014_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,356},{24,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,27}}</string>
                <key>sourceSize</key>
                <string>{26,27}</string>
            </dict>
            <key>hero1014_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,356},{27,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{27,23}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>hero1014_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,85}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{203,85}}</string>
                <key>sourceSize</key>
                <string>{209,89}</string>
            </dict>
            <key>hero1014_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{203,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{203,81}}</string>
                <key>sourceSize</key>
                <string>{209,89}</string>
            </dict>
            <key>hero1014_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,85},{201,75}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{201,75}}</string>
                <key>sourceSize</key>
                <string>{209,89}</string>
            </dict>
            <key>hero1014_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,162},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1014.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d7e86b372a4cca8c25fbd83644cd231$</string>
            <key>textureFileName</key>
            <string>hero1014.png</string>
        </dict>
    </dict>
</plist>
