<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3003_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{147,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,126}}</string>
        <key>sourceSize</key>
        <string>{147,126}</string>
      </dict>
      <key>hero3003_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,66},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero3003_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{149,0},{104,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,64}}</string>
        <key>sourceSize</key>
        <string>{104,64}</string>
      </dict>
      <key>hero3003_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,128},{25,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,25}}</string>
        <key>sourceSize</key>
        <string>{25,25}</string>
      </dict>
      <key>hero3003_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,132},{54,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,52}}</string>
        <key>sourceSize</key>
        <string>{54,52}</string>
      </dict>
      <key>hero3003_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{210,155},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>hero3003_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,128},{12,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,20}}</string>
        <key>sourceSize</key>
        <string>{12,20}</string>
      </dict>
      <key>hero3003_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{73,146},{19,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,27}}</string>
        <key>sourceSize</key>
        <string>{19,27}</string>
      </dict>
      <key>hero3003_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,150},{11,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,10}}</string>
        <key>sourceSize</key>
        <string>{11,10}</string>
      </dict>
      <key>hero3003_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{43,146},{28,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,20}}</string>
        <key>sourceSize</key>
        <string>{28,20}</string>
      </dict>
      <key>hero3003_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,146},{41,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,22}}</string>
        <key>sourceSize</key>
        <string>{41,22}</string>
      </dict>
      <key>hero3003_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,155},{10,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,11}}</string>
        <key>sourceSize</key>
        <string>{10,11}</string>
      </dict>
      <key>hero3003_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{102,128},{36,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,36}}</string>
        <key>sourceSize</key>
        <string>{36,36}</string>
      </dict>
      <key>hero3003_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,147},{12,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,14}}</string>
        <key>sourceSize</key>
        <string>{12,14}</string>
      </dict>
      <key>hero3003_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,162},{9,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,12}}</string>
        <key>sourceSize</key>
        <string>{9,12}</string>
      </dict>
      <key>hero3003_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,132},{17,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,13}}</string>
        <key>sourceSize</key>
        <string>{17,13}</string>
      </dict>
      <key>hero3003_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{215,66},{36,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,60}}</string>
        <key>sourceSize</key>
        <string>{36,60}</string>
      </dict>
      <key>hero3003_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,128},{100,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,16}}</string>
        <key>sourceSize</key>
        <string>{100,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero3003.png</string>
      <key>textureFileName</key>
      <string>hero3003.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>