<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1006_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,60},{45,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,44}}</string>
        <key>sourceSize</key>
        <string>{45,44}</string>
      </dict>
      <key>hero1006_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{57,17},{46,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,48}}</string>
        <key>sourceSize</key>
        <string>{46,48}</string>
      </dict>
      <key>hero1006_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,17},{46,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,44}}</string>
        <key>sourceSize</key>
        <string>{46,44}</string>
      </dict>
      <key>hero1006_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,60},{45,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,44}}</string>
        <key>sourceSize</key>
        <string>{45,44}</string>
      </dict>
      <key>hero1006_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{78,151},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1006_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,142},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1006_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,146},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1006_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,113},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1006_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,147},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1006_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,146},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1006_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,184},{36,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,19}}</string>
        <key>sourceSize</key>
        <string>{36,19}</string>
      </dict>
      <key>hero1006_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{42,107},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>hero1006_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,102},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>hero1006_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{148,106},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>hero1006_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,67},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>hero1006_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,106},{40,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,38}}</string>
        <key>sourceSize</key>
        <string>{40,38}</string>
      </dict>
      <key>hero1006_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,17},{55,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{55,48}}</string>
        <key>sourceSize</key>
        <string>{55,48}</string>
      </dict>
      <key>hero1006_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,63},{41,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,48}}</string>
        <key>sourceSize</key>
        <string>{41,48}</string>
      </dict>
      <key>hero1006_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,146},{26,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,6}}</string>
        <key>sourceSize</key>
        <string>{26,6}</string>
      </dict>
      <key>hero1006_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,17},{5,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,24}}</string>
        <key>sourceSize</key>
        <string>{5,24}</string>
      </dict>
      <key>hero1006_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,184},{31,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,8}}</string>
        <key>sourceSize</key>
        <string>{31,8}</string>
      </dict>
      <key>hero1006_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,0},{19,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,12}}</string>
        <key>sourceSize</key>
        <string>{19,12}</string>
      </dict>
      <key>hero1006_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{166,0},{64,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,58}}</string>
        <key>sourceSize</key>
        <string>{64,58}</string>
      </dict>
      <key>hero1006_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,180},{28,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,31}}</string>
        <key>sourceSize</key>
        <string>{28,31}</string>
      </dict>
      <key>hero1006_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,67},{48,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,33}}</string>
        <key>sourceSize</key>
        <string>{48,33}</string>
      </dict>
      <key>hero1006_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,25},{18,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,9}}</string>
        <key>sourceSize</key>
        <string>{18,9}</string>
      </dict>
      <key>hero1006_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{232,14},{20,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,9}}</string>
        <key>sourceSize</key>
        <string>{20,9}</string>
      </dict>
      <key>hero1006_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{117,184},{41,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,23}}</string>
        <key>sourceSize</key>
        <string>{41,23}</string>
      </dict>
      <key>hero1006_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{164,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,15}}</string>
        <key>sourceSize</key>
        <string>{164,15}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1006.png</string>
      <key>textureFileName</key>
      <string>hero1006.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>