<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3012_076.png</key>
      <dict>
        <key>frame</key>
        <string>{{416,175},{28,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,14}}</string>
        <key>sourceSize</key>
        <string>{28,14}</string>
      </dict>
      <key>hero3012_074.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,145},{28,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,15}}</string>
        <key>sourceSize</key>
        <string>{28,15}</string>
      </dict>
      <key>hero3012_106.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,0},{32,145}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,145}}</string>
        <key>sourceSize</key>
        <string>{32,145}</string>
      </dict>
      <key>hero3012_189.png</key>
      <dict>
        <key>frame</key>
        <string>{{269,195},{41,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,22}}</string>
        <key>sourceSize</key>
        <string>{41,22}</string>
      </dict>
      <key>hero3012_188.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,171},{41,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,22}}</string>
        <key>sourceSize</key>
        <string>{41,22}</string>
      </dict>
      <key>hero3012_187.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,202},{41,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,22}}</string>
        <key>sourceSize</key>
        <string>{41,22}</string>
      </dict>
      <key>hero3012_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,193},{11,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,9}}</string>
        <key>sourceSize</key>
        <string>{11,9}</string>
      </dict>
      <key>hero3012_186.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,0},{112,104}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,104}}</string>
        <key>sourceSize</key>
        <string>{112,104}</string>
      </dict>
      <key>hero3012_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{257,194},{10,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,9}}</string>
        <key>sourceSize</key>
        <string>{10,9}</string>
      </dict>
      <key>hero3012_185.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,132},{68,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
      <key>hero3012_184.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,45},{68,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
      <key>hero3012_183.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,127},{68,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
      <key>hero3012_182.png</key>
      <dict>
        <key>frame</key>
        <string>{{325,168},{68,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
      <key>hero3012_180.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,86},{68,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,39}}</string>
        <key>sourceSize</key>
        <string>{68,39}</string>
      </dict>
      <key>hero3012_177.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,15},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero3012_055.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,147},{30,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,26}}</string>
        <key>sourceSize</key>
        <string>{30,26}</string>
      </dict>
      <key>hero3012_054.png</key>
      <dict>
        <key>frame</key>
        <string>{{211,175},{30,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,20}}</string>
        <key>sourceSize</key>
        <string>{30,20}</string>
      </dict>
      <key>hero3012_053.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,153},{22,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,13}}</string>
        <key>sourceSize</key>
        <string>{22,13}</string>
      </dict>
      <key>hero3012_052.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,103},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>hero3012_063.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,77},{56,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,25}}</string>
        <key>sourceSize</key>
        <string>{56,25}</string>
      </dict>
      <key>hero3012_062.png</key>
      <dict>
        <key>frame</key>
        <string>{{337,15},{80,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{80,28}}</string>
        <key>sourceSize</key>
        <string>{80,28}</string>
      </dict>
      <key>hero3012_061.png</key>
      <dict>
        <key>frame</key>
        <string>{{97,106},{87,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{87,24}}</string>
        <key>sourceSize</key>
        <string>{87,24}</string>
      </dict>
      <key>hero3012_060.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,172},{78,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,23}}</string>
        <key>sourceSize</key>
        <string>{78,23}</string>
      </dict>
      <key>hero3012_057.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,197},{74,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,27}}</string>
        <key>sourceSize</key>
        <string>{74,27}</string>
      </dict>
      <key>hero3012_056.png</key>
      <dict>
        <key>frame</key>
        <string>{{438,204},{58,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,22}}</string>
        <key>sourceSize</key>
        <string>{58,22}</string>
      </dict>
      <key>hero3012_082.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,168},{16,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,11}}</string>
        <key>sourceSize</key>
        <string>{16,11}</string>
      </dict>
      <key>hero3012_085.png</key>
      <dict>
        <key>frame</key>
        <string>{{446,181},{17,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,9}}</string>
        <key>sourceSize</key>
        <string>{17,9}</string>
      </dict>
      <key>hero3012_084.png</key>
      <dict>
        <key>frame</key>
        <string>{{417,149},{33,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,24}}</string>
        <key>sourceSize</key>
        <string>{33,24}</string>
      </dict>
      <key>hero3012_083.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,121},{22,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,16}}</string>
        <key>sourceSize</key>
        <string>{22,16}</string>
      </dict>
      <key>hero3012_093.png</key>
      <dict>
        <key>frame</key>
        <string>{{94,194},{65,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,21}}</string>
        <key>sourceSize</key>
        <string>{65,21}</string>
      </dict>
      <key>hero3012_092.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,173},{69,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{69,19}}</string>
        <key>sourceSize</key>
        <string>{69,19}</string>
      </dict>
      <key>hero3012_091.png</key>
      <dict>
        <key>frame</key>
        <string>{{161,204},{43,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,16}}</string>
        <key>sourceSize</key>
        <string>{43,16}</string>
      </dict>
      <key>hero3012_090.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,184},{18,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,7}}</string>
        <key>sourceSize</key>
        <string>{18,7}</string>
      </dict>
      <key>hero3012_179.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{95,170}}</string>
        <key>sourceSize</key>
        <string>{95,170}</string>
      </dict>
      <key>hero3012_181.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,0},{17,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,72}}</string>
        <key>sourceSize</key>
        <string>{17,72}</string>
      </dict>
      <key>hero3012_080.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,170},{30,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,22}}</string>
        <key>sourceSize</key>
        <string>{30,22}</string>
      </dict>
      <key>hero3012_079.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,134},{23,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,17}}</string>
        <key>sourceSize</key>
        <string>{23,17}</string>
      </dict>
      <key>hero3012_088.png</key>
      <dict>
        <key>frame</key>
        <string>{{475,162},{35,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,20}}</string>
        <key>sourceSize</key>
        <string>{35,20}</string>
      </dict>
      <key>hero3012_087.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,128},{25,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,15}}</string>
        <key>sourceSize</key>
        <string>{25,15}</string>
      </dict>
      <key>hero3012_086.png</key>
      <dict>
        <key>frame</key>
        <string>{{495,184},{14,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,9}}</string>
        <key>sourceSize</key>
        <string>{14,9}</string>
      </dict>
      <key>hero3012_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,181},{8,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,10}}</string>
        <key>sourceSize</key>
        <string>{8,10}</string>
      </dict>
      <key>hero3012_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{312,209},{73,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,26}}</string>
        <key>sourceSize</key>
        <string>{73,26}</string>
      </dict>
      <key>hero3012_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{419,108},{38,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,39}}</string>
        <key>sourceSize</key>
        <string>{38,39}</string>
      </dict>
      <key>hero3012_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{484,74},{23,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,26}}</string>
        <key>sourceSize</key>
        <string>{23,26}</string>
      </dict>
      <key>hero3012_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,131},{21,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,16}}</string>
        <key>sourceSize</key>
        <string>{21,16}</string>
      </dict>
      <key>hero3012_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,178},{19,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,7}}</string>
        <key>sourceSize</key>
        <string>{19,7}</string>
      </dict>
      <key>hero3012_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{4,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,5}}</string>
        <key>sourceSize</key>
        <string>{4,5}</string>
      </dict>
      <key>hero3012_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{408,191},{12,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,9}}</string>
        <key>sourceSize</key>
        <string>{12,9}</string>
      </dict>
      <key>hero3012_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{450,192},{11,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,9}}</string>
        <key>sourceSize</key>
        <string>{11,9}</string>
      </dict>
      <key>hero3012_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{452,158},{21,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,8}}</string>
        <key>sourceSize</key>
        <string>{21,8}</string>
      </dict>
      <key>hero3012_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,0},{61,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,64}}</string>
        <key>sourceSize</key>
        <string>{61,64}</string>
      </dict>
      <key>hero3012_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{186,106},{23,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,26}}</string>
        <key>sourceSize</key>
        <string>{23,26}</string>
      </dict>
      <key>hero3012_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,85},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>hero3012_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,166},{19,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,10}}</string>
        <key>sourceSize</key>
        <string>{19,10}</string>
      </dict>
      <key>hero3012_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,102},{27,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,24}}</string>
        <key>sourceSize</key>
        <string>{27,24}</string>
      </dict>
      <key>hero3012_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,143},{28,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,25}}</string>
        <key>sourceSize</key>
        <string>{28,25}</string>
      </dict>
      <key>hero3012_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,139},{48,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,30}}</string>
        <key>sourceSize</key>
        <string>{48,30}</string>
      </dict>
      <key>hero3012_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,149},{20,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,15}}</string>
        <key>sourceSize</key>
        <string>{20,15}</string>
      </dict>
      <key>hero3012_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{207,203},{45,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,17}}</string>
        <key>sourceSize</key>
        <string>{45,17}</string>
      </dict>
      <key>hero3012_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,179},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>hero3012_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{463,193},{10,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,9}}</string>
        <key>sourceSize</key>
        <string>{10,9}</string>
      </dict>
      <key>hero3012_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,45},{11,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,17}}</string>
        <key>sourceSize</key>
        <string>{11,17}</string>
      </dict>
      <key>hero3012_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{421,66},{42,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,40}}</string>
        <key>sourceSize</key>
        <string>{42,40}</string>
      </dict>
      <key>hero3012_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,183},{9,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,10}}</string>
        <key>sourceSize</key>
        <string>{9,10}</string>
      </dict>
      <key>hero3012_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,163},{15,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,14}}</string>
        <key>sourceSize</key>
        <string>{15,14}</string>
      </dict>
      <key>hero3012_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{182,184},{10,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{10,14}}</string>
        <key>sourceSize</key>
        <string>{10,14}</string>
      </dict>
      <key>hero3012_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,93},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>hero3012_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,192},{12,8}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,8}}</string>
        <key>sourceSize</key>
        <string>{12,8}</string>
      </dict>
      <key>hero3012_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,186},{12,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,10}}</string>
        <key>sourceSize</key>
        <string>{12,10}</string>
      </dict>
      <key>hero3012_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,64},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>hero3012_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,104},{48,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,33}}</string>
        <key>sourceSize</key>
        <string>{48,33}</string>
      </dict>
      <key>hero3012_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{184,168},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
      <key>hero3012_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,194},{12,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,7}}</string>
        <key>sourceSize</key>
        <string>{12,7}</string>
      </dict>
      <key>hero3012_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{200,168},{9,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,13}}</string>
        <key>sourceSize</key>
        <string>{9,13}</string>
      </dict>
      <key>hero3012_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{403,113},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>hero3012_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{194,195},{11,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,7}}</string>
        <key>sourceSize</key>
        <string>{11,7}</string>
      </dict>
      <key>hero3012_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,187},{11,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,11}}</string>
        <key>sourceSize</key>
        <string>{11,11}</string>
      </dict>
      <key>hero3012_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,172},{14,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,12}}</string>
        <key>sourceSize</key>
        <string>{14,12}</string>
      </dict>
      <key>hero3012_050.png</key>
      <dict>
        <key>frame</key>
        <string>{{407,78},{11,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,13}}</string>
        <key>sourceSize</key>
        <string>{11,13}</string>
      </dict>
      <key>hero3012_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,132},{17,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,14}}</string>
        <key>sourceSize</key>
        <string>{17,14}</string>
      </dict>
      <key>hero3012_051.png</key>
      <dict>
        <key>frame</key>
        <string>{{422,191},{12,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,9}}</string>
        <key>sourceSize</key>
        <string>{12,9}</string>
      </dict>
      <key>hero3012_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{459,139},{20,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,17}}</string>
        <key>sourceSize</key>
        <string>{20,17}</string>
      </dict>
      <key>hero3012_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,148},{16,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,13}}</string>
        <key>sourceSize</key>
        <string>{16,13}</string>
      </dict>
      <key>hero3012_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{167,193},{11,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,9}}</string>
        <key>sourceSize</key>
        <string>{11,9}</string>
      </dict>
      <key>hero3012_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{245,0},{28,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,141}}</string>
        <key>sourceSize</key>
        <string>{28,141}</string>
      </dict>
      <key>hero3012_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{465,66},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>hero3012_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{275,0},{144,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{144,13}}</string>
        <key>sourceSize</key>
        <string>{144,13}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero3012.png</string>
      <key>textureFileName</key>
      <string>hero3012.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>