<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1012_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{288,379},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{762,157},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{859,281},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,329},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{434,302},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,143},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{144,296},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{498,184},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,393},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{290,261},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{715,275},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{292,25},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,66},{142,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,116}}</string>
        <key>sourceSize</key>
        <string>{142,116}</string>
      </dict>
      <key>hero1012_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{681,260},{32,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,26}}</string>
        <key>sourceSize</key>
        <string>{32,26}</string>
      </dict>
      <key>hero1012_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{950,242},{51,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{51,27}}</string>
        <key>sourceSize</key>
        <string>{51,27}</string>
      </dict>
      <key>hero1012_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,0},{110,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{110,123}}</string>
        <key>sourceSize</key>
        <string>{110,123}</string>
      </dict>
      <key>hero1012_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{773,0},{137,155}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,155}}</string>
        <key>sourceSize</key>
        <string>{137,155}</string>
      </dict>
      <key>hero1012_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,209}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,209}}</string>
        <key>sourceSize</key>
        <string>{172,209}</string>
      </dict>
      <key>hero1012_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,25},{116,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{116,157}}</string>
        <key>sourceSize</key>
        <string>{116,157}</string>
      </dict>
      <key>hero1012_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{529,0},{242,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{242,64}}</string>
        <key>sourceSize</key>
        <string>{242,64}</string>
      </dict>
      <key>hero1012_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{673,66},{21,192}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,192}}</string>
        <key>sourceSize</key>
        <string>{21,192}</string>
      </dict>
      <key>hero1012_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,184},{114,110}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,110}}</string>
        <key>sourceSize</key>
        <string>{114,110}</string>
      </dict>
      <key>hero1012_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{912,125},{81,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,48}}</string>
        <key>sourceSize</key>
        <string>{81,48}</string>
      </dict>
      <key>hero1012_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,155},{60,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,60}}</string>
        <key>sourceSize</key>
        <string>{60,60}</string>
      </dict>
      <key>hero1012_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,25},{91,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{91,128}}</string>
        <key>sourceSize</key>
        <string>{91,128}</string>
      </dict>
      <key>hero1012_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,175},{58,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,58}}</string>
        <key>sourceSize</key>
        <string>{58,58}</string>
      </dict>
      <key>hero1012_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,217},{43,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,47}}</string>
        <key>sourceSize</key>
        <string>{43,47}</string>
      </dict>
      <key>hero1012_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{966,175},{39,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,65}}</string>
        <key>sourceSize</key>
        <string>{39,65}</string>
      </dict>
      <key>hero1012_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,235},{42,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{42,44}}</string>
        <key>sourceSize</key>
        <string>{42,44}</string>
      </dict>
      <key>hero1012_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,135},{64,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,65}}</string>
        <key>sourceSize</key>
        <string>{64,65}</string>
      </dict>
      <key>hero1012_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{642,260},{37,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,31}}</string>
        <key>sourceSize</key>
        <string>{37,31}</string>
      </dict>
      <key>hero1012_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,66},{67,67}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{67,67}}</string>
        <key>sourceSize</key>
        <string>{67,67}</string>
      </dict>
      <key>hero1012_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{696,202},{44,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,56}}</string>
        <key>sourceSize</key>
        <string>{44,56}</string>
      </dict>
      <key>hero1012_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,150},{22,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,23}}</string>
        <key>sourceSize</key>
        <string>{22,23}</string>
      </dict>
      <key>hero1012_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{995,125},{25,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{25,23}}</string>
        <key>sourceSize</key>
        <string>{25,23}</string>
      </dict>
      <key>hero1012_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{578,302},{124,85}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,85}}</string>
        <key>sourceSize</key>
        <string>{124,85}</string>
      </dict>
      <key>hero1012_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,399},{142,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,57}}</string>
        <key>sourceSize</key>
        <string>{142,57}</string>
      </dict>
      <key>hero1012_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{353,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{353,23}}</string>
        <key>sourceSize</key>
        <string>{353,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1012.png</string>
      <key>textureFileName</key>
      <string>hero1012.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>