<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2018_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{172,101}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{172,101}}</string>
        <key>sourceSize</key>
        <string>{172,101}</string>
      </dict>
      <key>hero2018_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,0},{164,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,92}}</string>
        <key>sourceSize</key>
        <string>{164,92}</string>
      </dict>
      <key>hero2018_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,165},{182,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{182,72}}</string>
        <key>sourceSize</key>
        <string>{182,72}</string>
      </dict>
      <key>hero2018_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,94},{57,57}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,57}}</string>
        <key>sourceSize</key>
        <string>{57,57}</string>
      </dict>
      <key>hero2018_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,22},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>hero2018_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{340,0},{90,93}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,93}}</string>
        <key>sourceSize</key>
        <string>{90,93}</string>
      </dict>
      <key>hero2018_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,0},{20,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,20}}</string>
        <key>sourceSize</key>
        <string>{20,20}</string>
      </dict>
      <key>hero_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{505,44},{2,2}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{2,2}}</string>
        <key>sourceSize</key>
        <string>{2,2}</string>
      </dict>
      <key>hero2018_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,44},{16,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,16}}</string>
        <key>sourceSize</key>
        <string>{16,16}</string>
      </dict>
      <key>hero2018_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,94},{52,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,52}}</string>
        <key>sourceSize</key>
        <string>{52,52}</string>
      </dict>
      <key>hero2018_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,103},{52,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>hero2018_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,135},{52,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>hero2018_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,127},{52,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>hero2018_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,103},{52,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>hero2018_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{332,95},{52,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>hero2018_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{54,135},{52,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>hero2018_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,103},{52,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,30}}</string>
        <key>sourceSize</key>
        <string>{52,30}</string>
      </dict>
      <key>hero2018_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,148},{26,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,11}}</string>
        <key>sourceSize</key>
        <string>{26,11}</string>
      </dict>
      <key>hero2018_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{487,62},{23,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,7}}</string>
        <key>sourceSize</key>
        <string>{23,7}</string>
      </dict>
      <key>hero2018_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,82},{72,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,55}}</string>
        <key>sourceSize</key>
        <string>{72,55}</string>
      </dict>
      <key>hero2018_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,94},{43,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,33}}</string>
        <key>sourceSize</key>
        <string>{43,33}</string>
      </dict>
      <key>hero2018_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,95},{39,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,36}}</string>
        <key>sourceSize</key>
        <string>{39,36}</string>
      </dict>
      <key>hero2018_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{453,139},{35,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{35,31}}</string>
        <key>sourceSize</key>
        <string>{35,31}</string>
      </dict>
      <key>hero2018_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{386,133},{30,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,42}}</string>
        <key>sourceSize</key>
        <string>{30,42}</string>
      </dict>
      <key>hero2018_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{287,129},{38,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,34}}</string>
        <key>sourceSize</key>
        <string>{38,34}</string>
      </dict>
      <key>hero2018_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{432,0},{53,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,80}}</string>
        <key>sourceSize</key>
        <string>{53,80}</string>
      </dict>
      <key>hero2018_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{140,135},{24,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,25}}</string>
        <key>sourceSize</key>
        <string>{24,25}</string>
      </dict>
      <key>hero2018_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{418,139},{33,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,34}}</string>
        <key>sourceSize</key>
        <string>{33,34}</string>
      </dict>
      <key>hero2018_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{108,135},{30,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,41}}</string>
        <key>sourceSize</key>
        <string>{30,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2018.png</string>
      <key>textureFileName</key>
      <string>hero2018.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>