<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1018_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{307,366},{100,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,31}}</string>
        <key>sourceSize</key>
        <string>{100,31}</string>
      </dict>
      <key>hero1018_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,241},{176,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,46}}</string>
        <key>sourceSize</key>
        <string>{176,46}</string>
      </dict>
      <key>hero1018_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{328,264},{176,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{176,46}}</string>
        <key>sourceSize</key>
        <string>{176,46}</string>
      </dict>
      <key>hero1018_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{147,289},{174,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,45}}</string>
        <key>sourceSize</key>
        <string>{174,45}</string>
      </dict>
      <key>hero1018_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{155,194},{173,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{173,45}}</string>
        <key>sourceSize</key>
        <string>{173,45}</string>
      </dict>
      <key>hero1018_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{162,149},{164,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{164,43}}</string>
        <key>sourceSize</key>
        <string>{164,43}</string>
      </dict>
      <key>hero1018_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,326},{146,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,38}}</string>
        <key>sourceSize</key>
        <string>{146,38}</string>
      </dict>
      <key>hero1018_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,314},{60,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,16}}</string>
        <key>sourceSize</key>
        <string>{60,16}</string>
      </dict>
      <key>hero1018_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{89,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,71}}</string>
        <key>sourceSize</key>
        <string>{89,71}</string>
      </dict>
      <key>hero1018_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{163,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,147}}</string>
        <key>sourceSize</key>
        <string>{163,147}</string>
      </dict>
      <key>hero1018_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{165,0},{163,147}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,147}}</string>
        <key>sourceSize</key>
        <string>{163,147}</string>
      </dict>
      <key>hero1018_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,149},{137,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{137,60}}</string>
        <key>sourceSize</key>
        <string>{137,60}</string>
      </dict>
      <key>hero1018_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,137},{180,125}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,125}}</string>
        <key>sourceSize</key>
        <string>{180,125}</string>
      </dict>
      <key>hero1018_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{171,135}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{171,135}}</string>
        <key>sourceSize</key>
        <string>{171,135}</string>
      </dict>
      <key>hero1018_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,336},{241,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{241,61}}</string>
        <key>sourceSize</key>
        <string>{241,61}</string>
      </dict>
      <key>hero1018_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,399},{241,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{241,61}}</string>
        <key>sourceSize</key>
        <string>{241,61}</string>
      </dict>
      <key>hero1018_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{503,0},{5,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,11}}</string>
        <key>sourceSize</key>
        <string>{5,11}</string>
      </dict>
      <key>hero1018_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,243},{28,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,18}}</string>
        <key>sourceSize</key>
        <string>{28,18}</string>
      </dict>
      <key>hero1018_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,149},{21,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,23}}</string>
        <key>sourceSize</key>
        <string>{21,23}</string>
      </dict>
      <key>hero1018_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,263},{54,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,49}}</string>
        <key>sourceSize</key>
        <string>{54,49}</string>
      </dict>
      <key>hero1018_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{91,211},{37,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,30}}</string>
        <key>sourceSize</key>
        <string>{37,30}</string>
      </dict>
      <key>hero1018_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,174},{15,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,18}}</string>
        <key>sourceSize</key>
        <string>{15,18}</string>
      </dict>
      <key>hero1018_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{139,194},{14,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,18}}</string>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>hero1018_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,231},{18,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,14}}</string>
        <key>sourceSize</key>
        <string>{18,14}</string>
      </dict>
      <key>hero1018_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{121,247},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>hero1018_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,214},{23,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,15}}</string>
        <key>sourceSize</key>
        <string>{23,15}</string>
      </dict>
      <key>hero1018_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,284},{62,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,65}}</string>
        <key>sourceSize</key>
        <string>{62,65}</string>
      </dict>
      <key>hero1018_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,312},{178,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,12}}</string>
        <key>sourceSize</key>
        <string>{178,12}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1018.png</string>
      <key>textureFileName</key>
      <string>hero1018.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>