<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2012_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,25},{71,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,68}}</string>
        <key>sourceSize</key>
        <string>{71,68}</string>
      </dict>
      <key>hero2012_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{455,173},{54,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,54}}</string>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>hero2012_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,121},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>hero2012_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,113},{43,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,43}}</string>
        <key>sourceSize</key>
        <string>{43,43}</string>
      </dict>
      <key>hero2012_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,159},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>hero2012_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{327,113},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>hero2012_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,116},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>hero2012_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{391,158},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>hero2012_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{251,152},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>hero2012_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,121},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>hero2012_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{187,95},{62,62}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,62}}</string>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>hero2012_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{330,0},{107,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{107,111}}</string>
        <key>sourceSize</key>
        <string>{107,111}</string>
      </dict>
      <key>hero2012_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,25},{89,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{89,89}}</string>
        <key>sourceSize</key>
        <string>{89,89}</string>
      </dict>
      <key>hero2012_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,25},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>hero2012_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,25},{65,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,63}}</string>
        <key>sourceSize</key>
        <string>{65,63}</string>
      </dict>
      <key>hero2012_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,0},{9,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,24}}</string>
        <key>sourceSize</key>
        <string>{9,24}</string>
      </dict>
      <key>hero2012_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,71},{33,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,25}}</string>
        <key>sourceSize</key>
        <string>{33,25}</string>
      </dict>
      <key>hero2012_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{315,177},{63,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,53}}</string>
        <key>sourceSize</key>
        <string>{63,53}</string>
      </dict>
      <key>hero2012_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,116},{23,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,24}}</string>
        <key>sourceSize</key>
        <string>{23,24}</string>
      </dict>
      <key>hero2012_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,98},{28,28}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,28}}</string>
        <key>sourceSize</key>
        <string>{28,28}</string>
      </dict>
      <key>hero2012_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,145},{16,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,18}}</string>
        <key>sourceSize</key>
        <string>{16,18}</string>
      </dict>
      <key>hero2012_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,0},{27,40}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,40}}</string>
        <key>sourceSize</key>
        <string>{27,40}</string>
      </dict>
      <key>hero2012_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{470,42},{27,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,27}}</string>
        <key>sourceSize</key>
        <string>{27,27}</string>
      </dict>
      <key>hero2012_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{436,124},{19,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,19}}</string>
        <key>sourceSize</key>
        <string>{19,19}</string>
      </dict>
      <key>hero2012_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,142},{17,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,17}}</string>
        <key>sourceSize</key>
        <string>{17,17}</string>
      </dict>
      <key>hero2012_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,145},{12,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,14}}</string>
        <key>sourceSize</key>
        <string>{12,14}</string>
      </dict>
      <key>hero2012_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{439,0},{29,122}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,122}}</string>
        <key>sourceSize</key>
        <string>{29,122}</string>
      </dict>
      <key>hero2012_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,90},{65,60}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,60}}</string>
        <key>sourceSize</key>
        <string>{65,60}</string>
      </dict>
      <key>hero2012_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,26},{9,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,6}}</string>
        <key>sourceSize</key>
        <string>{9,6}</string>
      </dict>
      <key>hero2012_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,34},{9,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,6}}</string>
        <key>sourceSize</key>
        <string>{9,6}</string>
      </dict>
      <key>hero2012_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{457,128},{48,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,43}}</string>
        <key>sourceSize</key>
        <string>{48,43}</string>
      </dict>
      <key>hero2012bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{499,42},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero2012_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{328,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{328,23}}</string>
        <key>sourceSize</key>
        <string>{328,23}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2012.png</string>
      <key>textureFileName</key>
      <string>hero2012.png</string>
      <key>size</key>
      <string>{512,256}</string>
    </dict>
  </dict>
</plist>