<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero9001_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,951},{88,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{88,71}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>hero9001_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,302},{223,201}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,201}}</string>
                <key>sourceSize</key>
                <string>{247,201}</string>
            </dict>
            <key>hero9001_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,496},{129,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,111}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>hero9001_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,77},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hero9001_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,794},{145,127}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,127}}</string>
                <key>sourceSize</key>
                <string>{147,133}</string>
            </dict>
            <key>hero9001_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,783},{122,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,129}}</string>
                <key>sourceSize</key>
                <string>{122,129}</string>
            </dict>
            <key>hero9001_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,249},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>hero9001_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,157},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>hero9001_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,794},{146,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{146,64}}</string>
                <key>sourceSize</key>
                <string>{148,66}</string>
            </dict>
            <key>hero9001_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,662},{88,78}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>hero9001_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,422},{73,74}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,74}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>hero9001_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,77},{117,41}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{117,41}}</string>
                <key>sourceSize</key>
                <string>{125,41}</string>
            </dict>
            <key>hero9001_013.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,117},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>hero9001_015.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,371},{45,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_016.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,431},{45,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{45,56}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_017.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,527},{45,52}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{45,52}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_018.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,159},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_019.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,229},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_020.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,229},{45,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,64}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_021.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,157},{45,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,60}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_022.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,334},{45,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>hero9001_023.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,914},{101,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,63}}</string>
                <key>sourceSize</key>
                <string>{101,63}</string>
            </dict>
            <key>hero9001_025.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,422},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>hero9001_026.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,242},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>hero9001_027.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,286},{134,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,129}}</string>
                <key>sourceSize</key>
                <string>{134,129}</string>
            </dict>
            <key>hero9001_028.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,640},{141,133}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,133}}</string>
                <key>sourceSize</key>
                <string>{147,133}</string>
            </dict>
            <key>hero9001_029.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,579},{26,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,161}}</string>
                <key>sourceSize</key>
                <string>{26,161}</string>
            </dict>
            <key>hero9001_030.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,581},{368,214}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,214}}</string>
                <key>sourceSize</key>
                <string>{368,220}</string>
            </dict>
            <key>hero9001_031.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,949},{88,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,73}}</string>
                <key>sourceSize</key>
                <string>{88,73}</string>
            </dict>
            <key>hero9001_032.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,77},{223,201}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,201}}</string>
                <key>sourceSize</key>
                <string>{247,201}</string>
            </dict>
            <key>hero9001_033.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,628},{129,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,111}}</string>
                <key>sourceSize</key>
                <string>{129,111}</string>
            </dict>
            <key>hero9001_034.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,941},{80,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,100}</string>
            </dict>
            <key>hero9001_035.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,276},{93,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,83}}</string>
                <key>sourceSize</key>
                <string>{93,83}</string>
            </dict>
            <key>hero9001_036.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,404},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>hero9001_037.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,497},{122,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,129}}</string>
                <key>sourceSize</key>
                <string>{122,129}</string>
            </dict>
            <key>hero9001_038.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,794},{148,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,66}}</string>
                <key>sourceSize</key>
                <string>{148,66}</string>
            </dict>
            <key>hero9001_039.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,944},{88,78}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{88,78}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
            <key>hero9001_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,77},{125,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,41}}</string>
                <key>sourceSize</key>
                <string>{125,41}</string>
            </dict>
            <key>hero9001_041.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,249},{110,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,35}}</string>
                <key>sourceSize</key>
                <string>{110,35}</string>
            </dict>
            <key>hero9001_042.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,503},{73,74}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{73,74}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>hero9001_043.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,422},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>hero9001_044.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,77},{63,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,38}}</string>
                <key>sourceSize</key>
                <string>{63,38}</string>
            </dict>
            <key>hero9001_045.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,497},{141,133}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,133}}</string>
                <key>sourceSize</key>
                <string>{147,133}</string>
            </dict>
            <key>hero9001_046.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,282},{120,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,83}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
            <key>hero9001_047.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,941},{108,81}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{108,81}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
            <key>hero9001_048.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,446},{66,49}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,19},{66,49}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
            <key>hero9001_049.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,120},{60,35}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,28},{60,35}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
            <key>hero9001_050.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,120},{120,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,83}}</string>
                <key>sourceSize</key>
                <string>{120,83}</string>
            </dict>
            <key>hero9001_051.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,77},{186,29}}</string>
                <key>offset</key>
                <string>{6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,16},{186,29}}</string>
                <key>sourceSize</key>
                <string>{504,73}</string>
            </dict>
            <key>hero9001_052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{414,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,5},{414,61}}</string>
                <key>sourceSize</key>
                <string>{504,73}</string>
            </dict>
            <key>hero9001_053.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,77},{502,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,73}}</string>
                <key>sourceSize</key>
                <string>{504,73}</string>
            </dict>
            <key>hero9001_054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{502,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,73}}</string>
                <key>sourceSize</key>
                <string>{504,73}</string>
            </dict>
            <key>hero9001_055.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{502,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,73}}</string>
                <key>sourceSize</key>
                <string>{504,73}</string>
            </dict>
            <key>hero9001_056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,73}}</string>
                <key>sourceSize</key>
                <string>{504,73}</string>
            </dict>
            <key>hero9001_057.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,290},{211,45}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{211,45}}</string>
                <key>sourceSize</key>
                <string>{213,47}</string>
            </dict>
            <key>hero9001_058.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,581},{213,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,47}}</string>
                <key>sourceSize</key>
                <string>{213,47}</string>
            </dict>
            <key>hero9001_059.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,77},{211,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{213,47}</string>
            </dict>
            <key>hero9001_060.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,581},{211,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{213,47}</string>
            </dict>
            <key>hero9001_061.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,581},{211,47}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{213,47}</string>
            </dict>
            <key>hero9001_062.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,290},{211,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{211,43}}</string>
                <key>sourceSize</key>
                <string>{213,47}</string>
            </dict>
            <key>hero9001_064.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,997},{68,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>hero9001_065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{68,23}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{68,23}}</string>
                <key>sourceSize</key>
                <string>{70,23}</string>
            </dict>
            <key>hero9001_070.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,742},{50,26}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{50,26}}</string>
                <key>sourceSize</key>
                <string>{66,42}</string>
            </dict>
            <key>hero9001_071.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,796},{151,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,60}}</string>
                <key>sourceSize</key>
                <string>{151,60}</string>
            </dict>
            <key>hero9001_072.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,120},{60,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,121}}</string>
                <key>sourceSize</key>
                <string>{60,121}</string>
            </dict>
            <key>hero9001_073.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,77},{64,175}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,175}}</string>
                <key>sourceSize</key>
                <string>{64,177}</string>
            </dict>
            <key>hero9001_074.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,742},{88,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,50}}</string>
                <key>sourceSize</key>
                <string>{88,50}</string>
            </dict>
            <key>hero9001_075.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,159},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>hero9001_076.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,446},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>hero9001_077.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,443},{43,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,47}}</string>
                <key>sourceSize</key>
                <string>{43,47}</string>
            </dict>
            <key>hero9001_078.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,254},{146,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,30}}</string>
                <key>sourceSize</key>
                <string>{146,30}</string>
            </dict>
            <key>hero9001_079.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,794},{148,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,34}}</string>
                <key>sourceSize</key>
                <string>{148,34}</string>
            </dict>
            <key>hero9001_080.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,286},{158,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,36}}</string>
                <key>sourceSize</key>
                <string>{158,36}</string>
            </dict>
            <key>hero9001_081.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,77},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>hero9001_082.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,527},{180,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,52}}</string>
                <key>sourceSize</key>
                <string>{180,52}</string>
            </dict>
            <key>hero9001_083.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,503},{157,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,49}}</string>
                <key>sourceSize</key>
                <string>{157,49}</string>
            </dict>
            <key>hero9001_084.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,286},{137,38}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,38}}</string>
                <key>sourceSize</key>
                <string>{137,46}</string>
            </dict>
            <key>hero9001_085.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,286},{155,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,43}}</string>
                <key>sourceSize</key>
                <string>{155,43}</string>
            </dict>
            <key>hero9001_086.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,286},{158,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,36}}</string>
                <key>sourceSize</key>
                <string>{158,36}</string>
            </dict>
            <key>hero9001_087.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,77},{170,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,44}}</string>
                <key>sourceSize</key>
                <string>{170,44}</string>
            </dict>
            <key>hero9001_088.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,951},{180,44}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,44}}</string>
                <key>sourceSize</key>
                <string>{180,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero9001.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa017660a4f3afc74cc03814c0df3e51$</string>
            <key>textureFileName</key>
            <string>hero9001.png</string>
        </dict>
    </dict>
</plist>
