<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero3010_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,0},{97,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,68}}</string>
        <key>sourceSize</key>
        <string>{97,68}</string>
      </dict>
      <key>hero3010_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{95,170},{40,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,39}}</string>
        <key>sourceSize</key>
        <string>{40,39}</string>
      </dict>
      <key>hero3010_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{97,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{97,72}}</string>
        <key>sourceSize</key>
        <string>{97,72}</string>
      </dict>
      <key>hero3010_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{50,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,97}}</string>
        <key>sourceSize</key>
        <string>{50,97}</string>
      </dict>
      <key>hero3010_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{159,193},{64,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,10}}</string>
        <key>sourceSize</key>
        <string>{64,10}</string>
      </dict>
      <key>hero3010_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,74},{62,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,48}}</string>
        <key>sourceSize</key>
        <string>{62,48}</string>
      </dict>
      <key>hero3010_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{99,70},{88,59}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{88,59}}</string>
        <key>sourceSize</key>
        <string>{88,59}</string>
      </dict>
      <key>hero3010_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,131},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero3010_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,124},{47,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{47,47}}</string>
        <key>sourceSize</key>
        <string>{47,47}</string>
      </dict>
      <key>hero3010_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,124},{11,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,15}}</string>
        <key>sourceSize</key>
        <string>{11,15}</string>
      </dict>
      <key>hero3010_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,98},{17,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,16}}</string>
        <key>sourceSize</key>
        <string>{17,16}</string>
      </dict>
      <key>hero3010_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,166},{13,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,10}}</string>
        <key>sourceSize</key>
        <string>{13,10}</string>
      </dict>
      <key>hero3010_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,141},{13,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,11}}</string>
        <key>sourceSize</key>
        <string>{13,11}</string>
      </dict>
      <key>hero3010_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,154},{13,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,11}}</string>
        <key>sourceSize</key>
        <string>{13,11}</string>
      </dict>
      <key>hero3010_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{64,74},{14,95}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,95}}</string>
        <key>sourceSize</key>
        <string>{14,95}</string>
      </dict>
      <key>hero3010_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{189,99},{54,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,48}}</string>
        <key>sourceSize</key>
        <string>{54,48}</string>
      </dict>
      <key>hero3010_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,173},{23,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,19}}</string>
        <key>sourceSize</key>
        <string>{23,19}</string>
      </dict>
      <key>hero3010_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{63,178},{19,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,21}}</string>
        <key>sourceSize</key>
        <string>{19,21}</string>
      </dict>
      <key>hero3010_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,149},{14,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,14}}</string>
        <key>sourceSize</key>
        <string>{14,14}</string>
      </dict>
      <key>hero3010_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,134},{14,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,15}}</string>
        <key>sourceSize</key>
        <string>{14,15}</string>
      </dict>
      <key>hero3010_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{96,131},{54,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{54,37}}</string>
        <key>sourceSize</key>
        <string>{54,37}</string>
      </dict>
      <key>hero3010_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{188,149},{46,42}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,42}}</string>
        <key>sourceSize</key>
        <string>{46,42}</string>
      </dict>
      <key>hero3010_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{49,167},{12,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,11}}</string>
        <key>sourceSize</key>
        <string>{12,11}</string>
      </dict>
      <key>hero3010_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,188},{20,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,18}}</string>
        <key>sourceSize</key>
        <string>{20,18}</string>
      </dict>
      <key>hero3010_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,165},{14,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,12}}</string>
        <key>sourceSize</key>
        <string>{14,12}</string>
      </dict>
      <key>hero3010_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,116},{14,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,16}}</string>
        <key>sourceSize</key>
        <string>{14,16}</string>
      </dict>
      <key>hero3010_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{25,173},{21,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,21}}</string>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>hero3010_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{152,167},{24,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,19}}</string>
        <key>sourceSize</key>
        <string>{24,19}</string>
      </dict>
      <key>hero3010_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{137,170},{12,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,10}}</string>
        <key>sourceSize</key>
        <string>{12,10}</string>
      </dict>
      <key>hero3010_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,151},{14,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,13}}</string>
        <key>sourceSize</key>
        <string>{14,13}</string>
      </dict>
      <key>hero3010_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{80,74},{16,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,22}}</string>
        <key>sourceSize</key>
        <string>{16,22}</string>
      </dict>
      <key>hero3010_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,211},{120,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{120,16}}</string>
        <key>sourceSize</key>
        <string>{120,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero3010.png</string>
      <key>textureFileName</key>
      <string>hero3010.png</string>
      <key>size</key>
      <string>{256,256}</string>
    </dict>
  </dict>
</plist>