<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1020_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,80},{22,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,7}}</string>
        <key>sourceSize</key>
        <string>{22,7}</string>
      </dict>
      <key>hero1020_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{192,73},{30,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{30,6}}</string>
        <key>sourceSize</key>
        <string>{30,6}</string>
      </dict>
      <key>hero1020_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,70},{31,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,9}}</string>
        <key>sourceSize</key>
        <string>{31,9}</string>
      </dict>
      <key>hero1020_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,67},{36,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,11}}</string>
        <key>sourceSize</key>
        <string>{36,11}</string>
      </dict>
      <key>hero1020_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,44},{43,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,10}}</string>
        <key>sourceSize</key>
        <string>{43,10}</string>
      </dict>
      <key>hero1020_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,62},{39,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,9}}</string>
        <key>sourceSize</key>
        <string>{39,9}</string>
      </dict>
      <key>hero1020_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{40,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,9}}</string>
        <key>sourceSize</key>
        <string>{40,9}</string>
      </dict>
      <key>hero1020_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{123,81},{19,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,4}}</string>
        <key>sourceSize</key>
        <string>{19,4}</string>
      </dict>
      <key>hero1020_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{249,0},{5,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{5,11}}</string>
        <key>sourceSize</key>
        <string>{5,11}</string>
      </dict>
      <key>hero1020_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{83,11},{50,58}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,58}}</string>
        <key>sourceSize</key>
        <string>{50,58}</string>
      </dict>
      <key>hero1020_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,11},{81,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{81,31}}</string>
        <key>sourceSize</key>
        <string>{81,31}</string>
      </dict>
      <key>hero1020_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,29},{53,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{53,31}}</string>
        <key>sourceSize</key>
        <string>{53,31}</string>
      </dict>
      <key>hero1020_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{105,71},{16,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,14}}</string>
        <key>sourceSize</key>
        <string>{16,14}</string>
      </dict>
      <key>hero1020_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{38,69},{22,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,22}}</string>
        <key>sourceSize</key>
        <string>{22,22}</string>
      </dict>
      <key>hero1020_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{168,70},{22,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,18}}</string>
        <key>sourceSize</key>
        <string>{22,18}</string>
      </dict>
      <key>hero1020_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,29},{58,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,39}}</string>
        <key>sourceSize</key>
        <string>{58,39}</string>
      </dict>
      <key>hero1020_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,62},{17,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,16}}</string>
        <key>sourceSize</key>
        <string>{17,16}</string>
      </dict>
      <key>hero1020_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{143,0},{104,27}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{104,27}}</string>
        <key>sourceSize</key>
        <string>{104,27}</string>
      </dict>
      <key>hero1020_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{45,44},{29,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,23}}</string>
        <key>sourceSize</key>
        <string>{29,23}</string>
      </dict>
      <key>hero1020_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{239,80},{13,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,12}}</string>
        <key>sourceSize</key>
        <string>{13,12}</string>
      </dict>
      <key>hero1020_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{224,80},{13,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,13}}</string>
        <key>sourceSize</key>
        <string>{13,13}</string>
      </dict>
      <key>hero1020_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{62,69},{18,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{18,12}}</string>
        <key>sourceSize</key>
        <string>{18,12}</string>
      </dict>
      <key>hero1020_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{82,71},{21,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,18}}</string>
        <key>sourceSize</key>
        <string>{21,18}</string>
      </dict>
      <key>hero1020_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{141,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,9}}</string>
        <key>sourceSize</key>
        <string>{141,9}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1020.png</string>
      <key>textureFileName</key>
      <string>hero1020.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>