<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2007_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,26},{57,56}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,56}}</string>
        <key>sourceSize</key>
        <string>{57,56}</string>
      </dict>
      <key>hero2007_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,26},{64,61}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,61}}</string>
        <key>sourceSize</key>
        <string>{64,61}</string>
      </dict>
      <key>hero2007_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,0},{11,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,23}}</string>
        <key>sourceSize</key>
        <string>{11,23}</string>
      </dict>
      <key>hero2007_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,84},{52,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{52,9}}</string>
        <key>sourceSize</key>
        <string>{52,9}</string>
      </dict>
      <key>hero2007_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{41,89},{15,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,10}}</string>
        <key>sourceSize</key>
        <string>{15,10}</string>
      </dict>
      <key>hero2007_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,84},{12,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,9}}</string>
        <key>sourceSize</key>
        <string>{12,9}</string>
      </dict>
      <key>hero2007_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,26},{68,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{68,52}}</string>
        <key>sourceSize</key>
        <string>{68,52}</string>
      </dict>
      <key>hero2007_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{66,80},{57,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{57,26}}</string>
        <key>sourceSize</key>
        <string>{57,26}</string>
      </dict>
      <key>hero2007_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,26},{19,33}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,33}}</string>
        <key>sourceSize</key>
        <string>{19,33}</string>
      </dict>
      <key>hero2007_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{39,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,13}}</string>
        <key>sourceSize</key>
        <string>{39,13}</string>
      </dict>
      <key>hero2007_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{125,95},{29,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,20}}</string>
        <key>sourceSize</key>
        <string>{29,20}</string>
      </dict>
      <key>hero2007_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{212,73},{31,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,22}}</string>
        <key>sourceSize</key>
        <string>{31,22}</string>
      </dict>
      <key>hero2007_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{216,97},{24,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,14}}</string>
        <key>sourceSize</key>
        <string>{24,14}</string>
      </dict>
      <key>hero2007_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,61},{15,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,17}}</string>
        <key>sourceSize</key>
        <string>{15,17}</string>
      </dict>
      <key>hero2007_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,97},{24,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,15}}</string>
        <key>sourceSize</key>
        <string>{24,15}</string>
      </dict>
      <key>hero2007_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,80},{13,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,14}}</string>
        <key>sourceSize</key>
        <string>{13,14}</string>
      </dict>
      <key>hero2007_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{217,0},{24,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,71}}</string>
        <key>sourceSize</key>
        <string>{24,71}</string>
      </dict>
      <key>hero2007_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{156,95},{32,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,12}}</string>
        <key>sourceSize</key>
        <string>{32,12}</string>
      </dict>
      <key>hero2007bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{243,25},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero2007_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{215,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{215,24}}</string>
        <key>sourceSize</key>
        <string>{215,24}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2007.png</string>
      <key>textureFileName</key>
      <string>hero2007.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>