<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2015_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{177,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{177,189}}</string>
        <key>sourceSize</key>
        <string>{177,189}</string>
      </dict>
      <key>hero2015_065.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,272},{78,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{78,81}}</string>
        <key>sourceSize</key>
        <string>{78,81}</string>
      </dict>
      <key>hero2015_064.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,349},{74,80}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{74,80}}</string>
        <key>sourceSize</key>
        <string>{74,80}</string>
      </dict>
      <key>hero2015_063.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,297},{61,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{61,76}}</string>
        <key>sourceSize</key>
        <string>{61,76}</string>
      </dict>
      <key>hero2015_062.png</key>
      <dict>
        <key>frame</key>
        <string>{{816,270},{49,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,70}}</string>
        <key>sourceSize</key>
        <string>{49,70}</string>
      </dict>
      <key>hero2015_061.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,238},{28,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,43}}</string>
        <key>sourceSize</key>
        <string>{28,43}</string>
      </dict>
      <key>hero2015_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,152},{123,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,69}}</string>
        <key>sourceSize</key>
        <string>{123,69}</string>
      </dict>
      <key>hero2015_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,248},{108,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{108,68}}</string>
        <key>sourceSize</key>
        <string>{108,68}</string>
      </dict>
      <key>hero2015_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,191},{134,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{134,79}}</string>
        <key>sourceSize</key>
        <string>{134,79}</string>
      </dict>
      <key>hero2015_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,218},{146,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,49}}</string>
        <key>sourceSize</key>
        <string>{146,49}</string>
      </dict>
      <key>hero2015_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,223},{139,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,45}}</string>
        <key>sourceSize</key>
        <string>{139,45}</string>
      </dict>
      <key>hero2015_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{670,415},{112,43}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{112,43}}</string>
        <key>sourceSize</key>
        <string>{112,43}</string>
      </dict>
      <key>hero2015_060.png</key>
      <dict>
        <key>frame</key>
        <string>{{757,0},{123,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{123,150}}</string>
        <key>sourceSize</key>
        <string>{123,150}</string>
      </dict>
      <key>hero2015_059.png</key>
      <dict>
        <key>frame</key>
        <string>{{488,0},{124,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{124,152}}</string>
        <key>sourceSize</key>
        <string>{124,152}</string>
      </dict>
      <key>hero2015_058.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,0},{131,151}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{131,151}}</string>
        <key>sourceSize</key>
        <string>{131,151}</string>
      </dict>
      <key>hero2015_057.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,0},{141,132}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,132}}</string>
        <key>sourceSize</key>
        <string>{141,132}</string>
      </dict>
      <key>hero2015_056.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,0},{121,138}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{121,138}}</string>
        <key>sourceSize</key>
        <string>{121,138}</string>
      </dict>
      <key>hero2015_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{176,259},{145,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{145,36}}</string>
        <key>sourceSize</key>
        <string>{145,36}</string>
      </dict>
      <key>hero2015_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{612,318},{73,83}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,83}}</string>
        <key>sourceSize</key>
        <string>{73,83}</string>
      </dict>
      <key>hero2015_055.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,134},{21,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,44}}</string>
        <key>sourceSize</key>
        <string>{21,44}</string>
      </dict>
      <key>hero2015_054.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,191},{38,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,47}}</string>
        <key>sourceSize</key>
        <string>{38,47}</string>
      </dict>
      <key>hero2015_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{975,283},{44,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,39}}</string>
        <key>sourceSize</key>
        <string>{44,39}</string>
      </dict>
      <key>hero2015_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{550,154},{60,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{60,117}}</string>
        <key>sourceSize</key>
        <string>{60,117}</string>
      </dict>
      <key>hero2015_050.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,240},{38,38}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,38}}</string>
        <key>sourceSize</key>
        <string>{38,38}</string>
      </dict>
      <key>hero2015_051.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,397},{39,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{39,18}}</string>
        <key>sourceSize</key>
        <string>{39,18}</string>
      </dict>
      <key>hero2015_053.png</key>
      <dict>
        <key>frame</key>
        <string>{{1000,151},{22,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,34}}</string>
        <key>sourceSize</key>
        <string>{22,34}</string>
      </dict>
      <key>hero2015_052.png</key>
      <dict>
        <key>frame</key>
        <string>{{537,359},{71,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,47}}</string>
        <key>sourceSize</key>
        <string>{71,47}</string>
      </dict>
      <key>hero2015_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{614,134},{118,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,112}}</string>
        <key>sourceSize</key>
        <string>{118,112}</string>
      </dict>
      <key>hero2015_096.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,201},{21,9}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,9}}</string>
        <key>sourceSize</key>
        <string>{21,9}</string>
      </dict>
      <key>hero2015_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{806,342},{50,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,53}}</string>
        <key>sourceSize</key>
        <string>{50,53}</string>
      </dict>
      <key>hero2015_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{81,370},{50,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,53}}</string>
        <key>sourceSize</key>
        <string>{50,53}</string>
      </dict>
      <key>hero2015_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,350},{32,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,16}}</string>
        <key>sourceSize</key>
        <string>{32,16}</string>
      </dict>
      <key>hero2015_092.png</key>
      <dict>
        <key>frame</key>
        <string>{{133,375},{23,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{23,12}}</string>
        <key>sourceSize</key>
        <string>{23,12}</string>
      </dict>
      <key>hero2015_098.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,187},{28,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,49}}</string>
        <key>sourceSize</key>
        <string>{28,49}</string>
      </dict>
      <key>hero2015_097.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,67},{12,37}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,37}}</string>
        <key>sourceSize</key>
        <string>{12,37}</string>
      </dict>
      <key>hero2015_076.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,318},{32,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,30}}</string>
        <key>sourceSize</key>
        <string>{32,30}</string>
      </dict>
      <key>hero2015_074.png</key>
      <dict>
        <key>frame</key>
        <string>{{972,396},{40,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,35}}</string>
        <key>sourceSize</key>
        <string>{40,35}</string>
      </dict>
      <key>hero2015_073.png</key>
      <dict>
        <key>frame</key>
        <string>{{722,270},{92,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{92,70}}</string>
        <key>sourceSize</key>
        <string>{92,70}</string>
      </dict>
      <key>hero2015_072.png</key>
      <dict>
        <key>frame</key>
        <string>{{540,273},{70,84}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{70,84}}</string>
        <key>sourceSize</key>
        <string>{70,84}</string>
      </dict>
      <key>hero2015_071.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,316},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>hero2015_087.png</key>
      <dict>
        <key>frame</key>
        <string>{{323,269},{90,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,78}}</string>
        <key>sourceSize</key>
        <string>{90,78}</string>
      </dict>
      <key>hero2015_086.png</key>
      <dict>
        <key>frame</key>
        <string>{{867,322},{85,69}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{85,69}}</string>
        <key>sourceSize</key>
        <string>{85,69}</string>
      </dict>
      <key>hero2015_079.png</key>
      <dict>
        <key>frame</key>
        <string>{{483,154},{65,116}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,116}}</string>
        <key>sourceSize</key>
        <string>{65,116}</string>
      </dict>
      <key>hero2015_081.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,0},{16,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,65}}</string>
        <key>sourceSize</key>
        <string>{16,65}</string>
      </dict>
      <key>hero2015_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{954,324},{62,70}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,70}}</string>
        <key>sourceSize</key>
        <string>{62,70}</string>
      </dict>
      <key>hero2015_077.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,149},{11,11}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{11,11}}</string>
        <key>sourceSize</key>
        <string>{11,11}</string>
      </dict>
      <key>hero2015_032.png</key>
      <dict>
        <key>frame</key>
        <string>{{355,153},{126,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,63}}</string>
        <key>sourceSize</key>
        <string>{126,63}</string>
      </dict>
      <key>hero2015_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,155},{152,102}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{152,102}}</string>
        <key>sourceSize</key>
        <string>{152,102}</string>
      </dict>
      <key>hero2015_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{610,403},{58,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{58,21}}</string>
        <key>sourceSize</key>
        <string>{58,21}</string>
      </dict>
      <key>hero2015_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{875,239},{98,81}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{98,81}}</string>
        <key>sourceSize</key>
        <string>{98,81}</string>
      </dict>
      <key>hero2015_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{460,355},{75,65}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{75,65}}</string>
        <key>sourceSize</key>
        <string>{75,65}</string>
      </dict>
      <key>hero2015_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,272},{83,78}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,78}}</string>
        <key>sourceSize</key>
        <string>{83,78}</string>
      </dict>
      <key>hero2015_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{174,297},{84,72}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{84,72}}</string>
        <key>sourceSize</key>
        <string>{84,72}</string>
      </dict>
      <key>hero2015_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{858,393},{64,52}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,52}}</string>
        <key>sourceSize</key>
        <string>{64,52}</string>
      </dict>
      <key>hero2015_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{721,342},{83,71}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{83,71}}</string>
        <key>sourceSize</key>
        <string>{83,71}</string>
      </dict>
      <key>hero2015_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{882,140},{103,97}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{103,97}}</string>
        <key>sourceSize</key>
        <string>{103,97}</string>
      </dict>
      <key>hero2015_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{179,0},{174,153}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,153}}</string>
        <key>sourceSize</key>
        <string>{174,153}</string>
      </dict>
      <key>hero2015_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,173},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>hero2015_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,170},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>hero2015_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{349,155},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero2015_089.png</key>
      <dict>
        <key>frame</key>
        <string>{{173,371},{79,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,74}}</string>
        <key>sourceSize</key>
        <string>{79,74}</string>
      </dict>
      <key>hero2015_066.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,162},{9,6}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{9,6}}</string>
        <key>sourceSize</key>
        <string>{9,6}</string>
      </dict>
      <key>hero2015_067.png</key>
      <dict>
        <key>frame</key>
        <string>{{987,140},{15,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{15,7}}</string>
        <key>sourceSize</key>
        <string>{15,7}</string>
      </dict>
      <key>hero2015_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{399,382},{50,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,53}}</string>
        <key>sourceSize</key>
        <string>{50,53}</string>
      </dict>
      <key>hero2015_090.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,352},{79,74}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{79,74}}</string>
        <key>sourceSize</key>
        <string>{79,74}</string>
      </dict>
      <key>hero2015_100.png</key>
      <dict>
        <key>frame</key>
        <string>{{687,368},{26,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{26,20}}</string>
        <key>sourceSize</key>
        <string>{26,20}</string>
      </dict>
      <key>hero2015_099.png</key>
      <dict>
        <key>frame</key>
        <string>{{136,280},{36,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,34}}</string>
        <key>sourceSize</key>
        <string>{36,34}</string>
      </dict>
      <key>hero2015_075.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,272},{49,49}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,49}}</string>
        <key>sourceSize</key>
        <string>{49,49}</string>
      </dict>
      <key>hero2015_091.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,121},{12,14}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,14}}</string>
        <key>sourceSize</key>
        <string>{12,14}</string>
      </dict>
      <key>hero2015_101.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,155},{14,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,7}}</string>
        <key>sourceSize</key>
        <string>{14,7}</string>
      </dict>
      <key>hero2015_105.png</key>
      <dict>
        <key>frame</key>
        <string>{{333,164},{13,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{13,7}}</string>
        <key>sourceSize</key>
        <string>{13,7}</string>
      </dict>
      <key>hero2015_070.png</key>
      <dict>
        <key>frame</key>
        <string>{{924,396},{46,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{46,36}}</string>
        <key>sourceSize</key>
        <string>{46,36}</string>
      </dict>
      <key>hero2015_068.png</key>
      <dict>
        <key>frame</key>
        <string>{{85,323},{48,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,45}}</string>
        <key>sourceSize</key>
        <string>{48,45}</string>
      </dict>
      <key>hero2015_069.png</key>
      <dict>
        <key>frame</key>
        <string>{{254,375},{66,51}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{66,51}}</string>
        <key>sourceSize</key>
        <string>{66,51}</string>
      </dict>
      <key>hero2015_104.png</key>
      <dict>
        <key>frame</key>
        <string>{{734,180},{21,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{21,19}}</string>
        <key>sourceSize</key>
        <string>{21,19}</string>
      </dict>
      <key>hero2015_102.png</key>
      <dict>
        <key>frame</key>
        <string>{{135,350},{36,23}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,23}}</string>
        <key>sourceSize</key>
        <string>{36,23}</string>
      </dict>
      <key>hero2015_103.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,106},{17,13}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{17,13}}</string>
        <key>sourceSize</key>
        <string>{17,13}</string>
      </dict>
      <key>hero2015_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{1005,137},{12,12}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{12,12}}</string>
        <key>sourceSize</key>
        <string>{12,12}</string>
      </dict>
      <key>hero2015_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{342,173},{7,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{7,7}}</string>
        <key>sourceSize</key>
        <string>{7,7}</string>
      </dict>
      <key>hero2015_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,269},{43,111}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{43,111}}</string>
        <key>sourceSize</key>
        <string>{43,111}</string>
      </dict>
      <key>hero2015_088.png</key>
      <dict>
        <key>frame</key>
        <string>{{451,422},{157,7}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{157,7}}</string>
        <key>sourceSize</key>
        <string>{157,7}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2015.png</string>
      <key>textureFileName</key>
      <string>hero2015.png</string>
      <key>size</key>
      <string>{1024,512}</string>
    </dict>
  </dict>
</plist>