<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero1010_057.png</key>
      <dict>
        <key>frame</key>
        <string>{{258,145},{8,5}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{8,5}}</string>
        <key>sourceSize</key>
        <string>{8,5}</string>
      </dict>
      <key>hero1010_056.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,266},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero1010_055.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,111},{118,87}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,87}}</string>
        <key>sourceSize</key>
        <string>{118,87}</string>
      </dict>
      <key>hero1010_054.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,0},{114,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{114,79}}</string>
        <key>sourceSize</key>
        <string>{114,79}</string>
      </dict>
      <key>hero1010_052.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{142,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{142,109}}</string>
        <key>sourceSize</key>
        <string>{142,109}</string>
      </dict>
      <key>hero1010_049.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,325},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_047.png</key>
      <dict>
        <key>frame</key>
        <string>{{316,365},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_045.png</key>
      <dict>
        <key>frame</key>
        <string>{{395,365},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_043.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,331},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_041.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,332},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_039.png</key>
      <dict>
        <key>frame</key>
        <string>{{309,298},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_037.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,391},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_050.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,364},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_048.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,397},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_046.png</key>
      <dict>
        <key>frame</key>
        <string>{{430,332},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_044.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,365},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_042.png</key>
      <dict>
        <key>frame</key>
        <string>{{351,332},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_040.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,331},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_038.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,364},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_036.png</key>
      <dict>
        <key>frame</key>
        <string>{{388,299},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_035.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,358},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_034.png</key>
      <dict>
        <key>frame</key>
        <string>{{39,298},{77,31}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,31}}</string>
        <key>sourceSize</key>
        <string>{77,31}</string>
      </dict>
      <key>hero1010_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{274,0},{117,117}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{117,117}}</string>
        <key>sourceSize</key>
        <string>{117,117}</string>
      </dict>
      <key>hero1010_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,145},{6,10}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{6,10}}</string>
        <key>sourceSize</key>
        <string>{6,10}</string>
      </dict>
      <key>hero1010_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,111},{4,4}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{4,4}}</string>
        <key>sourceSize</key>
        <string>{4,4}</string>
      </dict>
      <key>hero1010_033.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,202},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero1010_059.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,200},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero1010_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{393,81},{20,156}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{20,156}}</string>
        <key>sourceSize</key>
        <string>{20,156}</string>
      </dict>
      <key>hero1010_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{235,275},{72,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{72,48}}</string>
        <key>sourceSize</key>
        <string>{72,48}</string>
      </dict>
      <key>hero1010_023.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,267},{36,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,29}}</string>
        <key>sourceSize</key>
        <string>{36,29}</string>
      </dict>
      <key>hero1010_022.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,119},{37,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,53}}</string>
        <key>sourceSize</key>
        <string>{37,53}</string>
      </dict>
      <key>hero1010_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{82,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,54}}</string>
        <key>sourceSize</key>
        <string>{82,54}</string>
      </dict>
      <key>hero1010_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,253},{32,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,18}}</string>
        <key>sourceSize</key>
        <string>{32,18}</string>
      </dict>
      <key>hero1010_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,185},{44,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,45}}</string>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>hero1010_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,225},{32,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,26}}</string>
        <key>sourceSize</key>
        <string>{32,26}</string>
      </dict>
      <key>hero1010_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{345,221},{45,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,44}}</string>
        <key>sourceSize</key>
        <string>{45,44}</string>
      </dict>
      <key>hero1010_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,111},{16,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,15}}</string>
        <key>sourceSize</key>
        <string>{16,15}</string>
      </dict>
      <key>hero1010_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{383,267},{24,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>hero1010_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,225},{24,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,21}}</string>
        <key>sourceSize</key>
        <string>{24,21}</string>
      </dict>
      <key>hero1010_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,264},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1010_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,197},{59,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,76}}</string>
        <key>sourceSize</key>
        <string>{59,76}</string>
      </dict>
      <key>hero1010_051.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,232},{64,64}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{64,64}}</string>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>hero1010_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{268,119},{77,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,76}}</string>
        <key>sourceSize</key>
        <string>{77,76}</string>
      </dict>
      <key>hero1010_053.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>hero1010_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{409,268},{36,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{36,29}}</string>
        <key>sourceSize</key>
        <string>{36,29}</string>
      </dict>
      <key>hero1010_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{84,130},{37,53}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,53}}</string>
        <key>sourceSize</key>
        <string>{37,53}</string>
      </dict>
      <key>hero1010_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,146},{82,54}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,54}}</string>
        <key>sourceSize</key>
        <string>{82,54}</string>
      </dict>
      <key>hero1010_058.png</key>
      <dict>
        <key>frame</key>
        <string>{{415,81},{94,63}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,63}}</string>
        <key>sourceSize</key>
        <string>{94,63}</string>
      </dict>
      <key>hero1010_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{447,268},{32,18}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,18}}</string>
        <key>sourceSize</key>
        <string>{32,18}</string>
      </dict>
      <key>hero1010_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{347,174},{44,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,45}}</string>
        <key>sourceSize</key>
        <string>{44,45}</string>
      </dict>
      <key>hero1010_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{311,197},{32,26}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,26}}</string>
        <key>sourceSize</key>
        <string>{32,26}</string>
      </dict>
      <key>hero1010_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,200},{45,44}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,44}}</string>
        <key>sourceSize</key>
        <string>{45,44}</string>
      </dict>
      <key>hero1010_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{250,128},{16,15}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{16,15}}</string>
        <key>sourceSize</key>
        <string>{16,15}</string>
      </dict>
      <key>hero1010_012.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,248},{24,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,20}}</string>
        <key>sourceSize</key>
        <string>{24,20}</string>
      </dict>
      <key>hero1010_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{481,202},{24,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,21}}</string>
        <key>sourceSize</key>
        <string>{24,21}</string>
      </dict>
      <key>hero1010_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{196,246},{37,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{37,36}}</string>
        <key>sourceSize</key>
        <string>{37,36}</string>
      </dict>
      <key>hero1010_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,186},{59,76}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,76}}</string>
        <key>sourceSize</key>
        <string>{59,76}</string>
      </dict>
      <key>hero1010_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{237,398},{165,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,16}}</string>
        <key>sourceSize</key>
        <string>{165,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero1010.png</string>
      <key>textureFileName</key>
      <string>hero1010.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>