<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2006_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{233,49},{19,36}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,36}}</string>
        <key>sourceSize</key>
        <string>{19,36}</string>
      </dict>
      <key>hero2006_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,18},{34,34}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,34}}</string>
        <key>sourceSize</key>
        <string>{34,34}</string>
      </dict>
      <key>hero2006_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,18},{33,32}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{33,32}}</string>
        <key>sourceSize</key>
        <string>{33,32}</string>
      </dict>
      <key>hero2006_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,18},{77,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,50}}</string>
        <key>sourceSize</key>
        <string>{77,50}</string>
      </dict>
      <key>hero2006_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{158,52},{27,29}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,29}}</string>
        <key>sourceSize</key>
        <string>{27,29}</string>
      </dict>
      <key>hero2006_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,61},{27,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{27,22}}</string>
        <key>sourceSize</key>
        <string>{27,22}</string>
      </dict>
      <key>hero2006_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,54},{28,25}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,25}}</string>
        <key>sourceSize</key>
        <string>{28,25}</string>
      </dict>
      <key>hero2006_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{79,18},{41,41}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,41}}</string>
        <key>sourceSize</key>
        <string>{41,41}</string>
      </dict>
      <key>hero2006_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,70},{19,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{19,16}}</string>
        <key>sourceSize</key>
        <string>{19,16}</string>
      </dict>
      <key>hero2006_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{202,0},{40,47}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{40,47}}</string>
        <key>sourceSize</key>
        <string>{40,47}</string>
      </dict>
      <key>hero2006_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{193,49},{38,22}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{38,22}}</string>
        <key>sourceSize</key>
        <string>{38,22}</string>
      </dict>
      <key>hero2006_bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{244,0},{3,3}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{3,3}}</string>
        <key>sourceSize</key>
        <string>{3,3}</string>
      </dict>
      <key>hero2006_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{200,16}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,16}}</string>
        <key>sourceSize</key>
        <string>{200,16}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2006.png</string>
      <key>textureFileName</key>
      <string>hero2006.png</string>
      <key>size</key>
      <string>{256,128}</string>
    </dict>
  </dict>
</plist>