<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>hero2009_018.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,284},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero2009_019.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,205},{227,107}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{227,107}}</string>
        <key>sourceSize</key>
        <string>{227,107}</string>
      </dict>
      <key>hero2009_016.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,156},{147,136}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,136}}</string>
        <key>sourceSize</key>
        <string>{147,136}</string>
      </dict>
      <key>hero2009_021.png</key>
      <dict>
        <key>frame</key>
        <string>{{343,0},{154,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,154}}</string>
        <key>sourceSize</key>
        <string>{154,154}</string>
      </dict>
      <key>hero2009_020.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{341,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{341,203}}</string>
        <key>sourceSize</key>
        <string>{341,203}</string>
      </dict>
      <key>hero2009_017.png</key>
      <dict>
        <key>frame</key>
        <string>{{229,205},{77,77}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{77,77}}</string>
        <key>sourceSize</key>
        <string>{77,77}</string>
      </dict>
      <key>hero2009bullet_pos.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,314},{90,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,19}}</string>
        <key>sourceSize</key>
        <string>{90,19}</string>
      </dict>
      <key>hero2009_002.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,205},{28,30}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{28,30}}</string>
        <key>sourceSize</key>
        <string>{28,30}</string>
      </dict>
      <key>hero2009_015.png</key>
      <dict>
        <key>frame</key>
        <string>{{435,294},{59,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,55}}</string>
        <key>sourceSize</key>
        <string>{59,55}</string>
      </dict>
      <key>hero2009_014.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,314},{59,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,55}}</string>
        <key>sourceSize</key>
        <string>{59,55}</string>
      </dict>
      <key>hero2009_013.png</key>
      <dict>
        <key>frame</key>
        <string>{{61,314},{59,55}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{59,55}}</string>
        <key>sourceSize</key>
        <string>{59,55}</string>
      </dict>
      <key>hero2009_008.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,346},{71,35}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{71,35}}</string>
        <key>sourceSize</key>
        <string>{71,35}</string>
      </dict>
      <key>hero2009_006.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,311},{22,17}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{22,17}}</string>
        <key>sourceSize</key>
        <string>{22,17}</string>
      </dict>
      <key>hero2009_007.png</key>
      <dict>
        <key>frame</key>
        <string>{{381,346},{50,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{50,50}}</string>
        <key>sourceSize</key>
        <string>{50,50}</string>
      </dict>
      <key>hero2009_001.png</key>
      <dict>
        <key>frame</key>
        <string>{{372,398},{45,45}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,45}}</string>
        <key>sourceSize</key>
        <string>{45,45}</string>
      </dict>
      <key>hero2009_031.png</key>
      <dict>
        <key>frame</key>
        <string>{{272,383},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_030.png</key>
      <dict>
        <key>frame</key>
        <string>{{222,363},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_029.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,351},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_028.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,356},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_027.png</key>
      <dict>
        <key>frame</key>
        <string>{{172,356},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_026.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,371},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_025.png</key>
      <dict>
        <key>frame</key>
        <string>{{50,371},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_024.png</key>
      <dict>
        <key>frame</key>
        <string>{{322,383},{48,48}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{48,48}}</string>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>hero2009_004.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,237},{32,20}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{32,20}}</string>
        <key>sourceSize</key>
        <string>{32,20}</string>
      </dict>
      <key>hero2009_005.png</key>
      <dict>
        <key>frame</key>
        <string>{{492,156},{14,21}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{14,21}}</string>
        <key>sourceSize</key>
        <string>{14,21}</string>
      </dict>
      <key>hero2009_011.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,285},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero2009_010.png</key>
      <dict>
        <key>frame</key>
        <string>{{308,259},{24,24}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{24,24}}</string>
        <key>sourceSize</key>
        <string>{24,24}</string>
      </dict>
      <key>hero2009_009.png</key>
      <dict>
        <key>frame</key>
        <string>{{334,294},{99,50}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,50}}</string>
        <key>sourceSize</key>
        <string>{99,50}</string>
      </dict>
      <key>hero2009_003.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,335},{90,19}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{90,19}}</string>
        <key>sourceSize</key>
        <string>{90,19}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>hero2009.png</string>
      <key>textureFileName</key>
      <string>hero2009.png</string>
      <key>size</key>
      <string>{512,512}</string>
    </dict>
  </dict>
</plist>